In [1]:
import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
# 读取数据
df = pd.read_csv('description/D-MPNN/SMILES22-SEED1-DMPNN-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train = df.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test = df.loc['test'].reset_index(drop=True)
train = train.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test = test.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列

In [3]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf)

,0,1,2,3,4,5,6,7,8,9,...,1594,1595,1596,1597,1598,1599,562_0.0,930_0,label,Label
0,-0.005076,2.483248,1.637138,-1.310761,27.487274,22.283321,-0.887752,33.334511,-2.195868,2.552701,...,-4.901010,-0.959348,5.595598,-1.068660,2.312325,5.804178,0.0,1.0,416,120.812908
1,-0.048378,3.205072,0.829165,-1.187592,31.230198,35.142548,-0.887752,23.532068,-2.066118,1.799269,...,-5.039901,-0.669045,7.270128,-1.068660,6.714631,5.966502,0.0,1.0,562,120.812908
2,-1.897840,-0.504974,-0.176186,-1.343991,12.556967,-0.492761,-0.887752,9.372546,-2.195868,12.552490,...,-5.088955,3.625394,4.593679,-0.978333,5.288262,8.325686,1.0,1.0,376,117.692168
3,6.123942,1.580171,-1.044529,0.951703,-1.480416,4.555271,-0.887752,-1.375484,-0.118360,16.518930,...,2.182472,2.199789,2.832084,2.768498,0.189381,7.018455,1.0,1.0,432,374.352212
4,5.811338,1.941982,-2.021735,0.778105,-1.480416,2.042220,-0.887752,-1.375484,-0.142784,16.976498,...,1.657553,2.894560,2.885218,3.153344,1.078911,6.286177,1.0,1.0,418,374.352212
5,1.808907,-0.104350,-1.340757,-0.596458,0.593756,-0.492761,-0.539573,0.469216,-1.405042,12.833706,...,-1.470939,-0.357151,1.245265,0.079011,6.525244,3.512655,1.0,1.0,79,374.352212

In [4]:
df_1 = pd.read_csv('description/D-MPNN/SMILES22-SEED2-DMPNN-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_1.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_1 = df_1.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_1 = df_1.loc['test'].reset_index(drop=True)
train_1 = train_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_1 = test_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_1 = create_model('rf')
tunedrf_1 = tune_model(rf_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_1)

,0,2,3,4,5,6,7,8,9,10,...,1597,1598,1599,461_0,627_0.00014550100604537874,926_0.0,1081_0,1202_0.0,label,Label
0,-1.410486,3.392958,-2.976411,0.296219,2.429862,-1.709799,-0.128025,2.737392,-1.289258,-0.429192,...,-0.724724,-1.188055,-0.727484,1.0,1.0,0.0,1.0,1.0,416,196.126582
1,-1.410486,9.058407,-2.976411,0.363513,1.866945,-1.703974,1.645173,1.095483,-1.297579,-0.474352,...,-0.724724,-1.141997,0.913863,1.0,1.0,0.0,1.0,1.0,562,196.126582
2,-1.410486,-0.870332,-2.976411,-0.796376,4.124949,-1.388481,-0.707547,9.100105,0.491024,-1.123510,...,-0.602553,-0.793788,-0.746440,1.0,0.0,0.0,1.0,0.0,376,135.873418
3,1.969461,8.332669,-2.947576,37.364418,1.351820,-1.088470,2.436136,-2.131739,0.677239,14.615570,...,9.094763,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,432,176.164557
4,1.457173,6.592443,-2.976411,36.003284,0.621813,-1.303082,1.814212,-2.131739,0.914419,15.197017,...,8.362988,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,418,176.164557
5,-1.268449,1.793655,-2.976411,13.228822,-1.124076,-1.268625,-0.707547,-2.131739,-0.497252,10.052865,...,3.942185,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,79,172.430380

In [5]:
df_2 = pd.read_csv('description/D-MPNN/SMILES22-SEED3-DMPNN-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_2.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_2 = df_2.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_2 = df_2.loc['test'].reset_index(drop=True)
train_2 = train_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_2 = test_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_2 = create_model('rf')
tunedrf_2 = tune_model(rf_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_2)

,0,1,2,3,4,5,6,7,8,10,...,122_0,152_0.0038872689474374056,224_0,522_0.006037423852831125,955_0,1112_0,1258_0.011656598187983036,1559_0,label,Label
0,-2.846983,0.234605,-1.653401,-1.710206,-1.321823,0.641134,0.000000,1.769085,10.882820,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,416,246.638449
1,-2.846983,0.308584,-2.063349,-1.523313,-1.321823,3.080638,0.000000,3.762923,16.881308,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,562,249.211197
2,-2.846983,0.212922,-2.063468,-1.851772,-1.321823,4.360915,0.000000,-0.578143,8.197358,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,246.638449
3,-2.846983,0.243892,-3.412228,-1.851772,-0.842252,-0.745226,0.134729,18.513033,-0.919998,2.948999,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,432,278.814012
4,-2.846983,0.304154,-3.412228,-1.851772,-0.798965,-0.745226,0.138427,14.787274,-0.919998,4.201375,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,418,278.814012
5,-2.846983,0.258939,-3.412228,-1.711290,-0.990918,-0.745226,0.025360,-0.578143,-0.919998,-0.416297,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,79,249.619755

In [6]:
df_3 = pd.read_csv('description/D-MPNN/SMILES22-SEED4-DMPNN-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_3.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_3 = df_3.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_3 = df_3.loc['test'].reset_index(drop=True)
train_3 = train_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_3 = test_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_3 = create_model('rf')
tunedrf_3 = tune_model(rf_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_3)

,0,1,2,3,4,5,6,7,8,9,...,375_0.0015824560541659594,485_0.0,850_0.0,866_0,905_0.0,1070_0.005970458034425974,1503_0,1594_0.0,label,Label
0,19.235926,-0.803617,0.082638,0.009116,52.974342,10.167644,-2.637552,-0.724468,1.839756,0.459048,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,416,408.966346
1,31.417669,-0.803617,0.031164,0.013452,60.972771,10.530417,-2.637552,-0.314324,3.271776,0.450719,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,562,408.073184
2,-0.305092,-0.491902,0.045165,0.142144,20.521189,-0.147032,-2.637552,-0.724468,-4.925828,0.200303,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,184.436432
3,26.128691,3.987044,0.002921,0.058217,24.913845,-0.878746,-1.322923,1.699018,-1.125763,0.173322,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,432,223.093483
4,20.906227,4.933837,0.000000,0.072258,20.522676,-0.878746,-1.236069,0.630457,-1.210850,0.190289,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,418,233.951923
5,31.236610,-0.803617,0.110974,0.000000,14.297068,-0.878746,-2.637552,1.577411,-4.265909,0.107655,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,79,209.888889

In [7]:
df_4 = pd.read_csv('description/D-MPNN/SMILES22-SEED5-DMPNN-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_4.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_4 = df_4.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_4 = df_4.loc['test'].reset_index(drop=True)
train_4 = train_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_4 = test_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_4 = create_model('rf')
tunedrf_4 = tune_model(rf_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_4)

,0,1,2,3,4,5,6,7,8,9,...,1599,294_0.0,457_0.0,933_0.0022943299263715744,1222_0.0010084720561280847,1432_0.0,1442_0,1447_0.0,label,Label
0,-1.453338,-1.400425,1.227970,-1.141728,16.062420,2.250534,-1.563449,1.928892,70.684273,-1.116794,...,-0.801210,0.0,0.0,1.0,1.0,0.0,1.0,0.0,416,147.722822
1,-1.628045,-1.036378,0.507742,-1.141728,22.592384,2.824002,-2.356240,0.421357,64.517517,-1.516470,...,-0.671137,1.0,0.0,1.0,0.0,0.0,1.0,0.0,562,149.867906
2,-0.749912,-0.857332,14.869336,-1.141728,1.979950,-0.067270,-1.632347,-2.983917,36.996815,-1.930776,...,9.988575,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,143.432654
3,-0.450150,1.985147,3.333868,-0.709526,2.273469,-2.741858,-1.849111,-2.278134,28.477945,-1.860006,...,2.821482,0.0,0.0,1.0,1.0,0.0,1.0,0.0,432,142.360112
4,0.279288,1.097462,1.730702,-0.938321,2.504915,-2.757538,-1.809745,-2.844899,41.721783,-1.537563,...,2.921015,0.0,0.0,1.0,1.0,0.0,1.0,0.0,418,142.360112
5,-0.877047,0.358101,-0.470953,-0.914384,3.872672,-1.257706,-2.414156,-2.983917,25.278940,-2.038932,...,-0.895484,1.0,0.0,1.0,1.0,0.0,1.0,0.0,79,142.360112

In [8]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_0 = create_model('lightgbm')
tunedlgb_0 = tune_model(lgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,3,4,5,6,7,8,9,...,1594,1595,1596,1597,1598,1599,562_0.0,930_0,label,Label
0,-0.005076,2.483248,1.637138,-1.310761,27.487274,22.283321,-0.887752,33.334511,-2.195868,2.552701,...,-4.901010,-0.959348,5.595598,-1.068660,2.312325,5.804178,0.0,1.0,416,278.932287
1,-0.048378,3.205072,0.829165,-1.187592,31.230198,35.142548,-0.887752,23.532068,-2.066118,1.799269,...,-5.039901,-0.669045,7.270128,-1.068660,6.714631,5.966502,0.0,1.0,562,281.426314
2,-1.897840,-0.504974,-0.176186,-1.343991,12.556967,-0.492761,-0.887752,9.372546,-2.195868,12.552490,...,-5.088955,3.625394,4.593679,-0.978333,5.288262,8.325686,1.0,1.0,376,277.166656
3,6.123942,1.580171,-1.044529,0.951703,-1.480416,4.555271,-0.887752,-1.375484,-0.118360,16.518930,...,2.182472,2.199789,2.832084,2.768498,0.189381,7.018455,1.0,1.0,432,303.424889
4,5.811338,1.941982,-2.021735,0.778105,-1.480416,2.042220,-0.887752,-1.375484,-0.142784,16.976498,...,1.657553,2.894560,2.885218,3.153344,1.078911,6.286177,1.0,1.0,418,303.061428
5,1.808907,-0.104350,-1.340757,-0.596458,0.593756,-0.492761,-0.539573,0.469216,-1.405042,12.833706,...,-1.470939,-0.357151,1.245265,0.079011,6.525244,3.512655,1.0,1.0,79,299.001859

In [9]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_1 = create_model('lightgbm')
tunedlgb_1 = tune_model(lgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,2,3,4,5,6,7,8,9,10,...,1597,1598,1599,461_0,627_0.00014550100604537874,926_0.0,1081_0,1202_0.0,label,Label
0,-1.410486,3.392958,-2.976411,0.296219,2.429862,-1.709799,-0.128025,2.737392,-1.289258,-0.429192,...,-0.724724,-1.188055,-0.727484,1.0,1.0,0.0,1.0,1.0,416,247.253791
1,-1.410486,9.058407,-2.976411,0.363513,1.866945,-1.703974,1.645173,1.095483,-1.297579,-0.474352,...,-0.724724,-1.141997,0.913863,1.0,1.0,0.0,1.0,1.0,562,258.094991
2,-1.410486,-0.870332,-2.976411,-0.796376,4.124949,-1.388481,-0.707547,9.100105,0.491024,-1.123510,...,-0.602553,-0.793788,-0.746440,1.0,0.0,0.0,1.0,0.0,376,243.863454
3,1.969461,8.332669,-2.947576,37.364418,1.351820,-1.088470,2.436136,-2.131739,0.677239,14.615570,...,9.094763,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,432,281.293616
4,1.457173,6.592443,-2.976411,36.003284,0.621813,-1.303082,1.814212,-2.131739,0.914419,15.197017,...,8.362988,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,418,279.303371
5,-1.268449,1.793655,-2.976411,13.228822,-1.124076,-1.268625,-0.707547,-2.131739,-0.497252,10.052865,...,3.942185,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,79,274.447325

In [10]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_2 = create_model('lightgbm')
tunedlgb_2 = tune_model(lgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_2)

,0,1,2,3,4,5,6,7,8,10,...,122_0,152_0.0038872689474374056,224_0,522_0.006037423852831125,955_0,1112_0,1258_0.011656598187983036,1559_0,label,Label
0,-2.846983,0.234605,-1.653401,-1.710206,-1.321823,0.641134,0.000000,1.769085,10.882820,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,416,142.791344
1,-2.846983,0.308584,-2.063349,-1.523313,-1.321823,3.080638,0.000000,3.762923,16.881308,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,562,141.064498
2,-2.846983,0.212922,-2.063468,-1.851772,-1.321823,4.360915,0.000000,-0.578143,8.197358,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,148.956461
3,-2.846983,0.243892,-3.412228,-1.851772,-0.842252,-0.745226,0.134729,18.513033,-0.919998,2.948999,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,432,208.924104
4,-2.846983,0.304154,-3.412228,-1.851772,-0.798965,-0.745226,0.138427,14.787274,-0.919998,4.201375,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,418,209.145432
5,-2.846983,0.258939,-3.412228,-1.711290,-0.990918,-0.745226,0.025360,-0.578143,-0.919998,-0.416297,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,79,183.218556

In [11]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_3 = create_model('lightgbm')
tunedlgb_3 = tune_model(lgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_3)

,0,1,2,3,4,5,6,7,8,9,...,375_0.0015824560541659594,485_0.0,850_0.0,866_0,905_0.0,1070_0.005970458034425974,1503_0,1594_0.0,label,Label
0,19.235926,-0.803617,0.082638,0.009116,52.974342,10.167644,-2.637552,-0.724468,1.839756,0.459048,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,416,240.522264
1,31.417669,-0.803617,0.031164,0.013452,60.972771,10.530417,-2.637552,-0.314324,3.271776,0.450719,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,562,229.858629
2,-0.305092,-0.491902,0.045165,0.142144,20.521189,-0.147032,-2.637552,-0.724468,-4.925828,0.200303,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,137.034723
3,26.128691,3.987044,0.002921,0.058217,24.913845,-0.878746,-1.322923,1.699018,-1.125763,0.173322,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,432,103.397324
4,20.906227,4.933837,0.000000,0.072258,20.522676,-0.878746,-1.236069,0.630457,-1.210850,0.190289,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,418,112.158146
5,31.236610,-0.803617,0.110974,0.000000,14.297068,-0.878746,-2.637552,1.577411,-4.265909,0.107655,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,79,45.949850

In [12]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_4 = create_model('lightgbm')
tunedlgb_4 = tune_model(lgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_4)

,0,1,2,3,4,5,6,7,8,9,...,1599,294_0.0,457_0.0,933_0.0022943299263715744,1222_0.0010084720561280847,1432_0.0,1442_0,1447_0.0,label,Label
0,-1.453338,-1.400425,1.227970,-1.141728,16.062420,2.250534,-1.563449,1.928892,70.684273,-1.116794,...,-0.801210,0.0,0.0,1.0,1.0,0.0,1.0,0.0,416,233.936445
1,-1.628045,-1.036378,0.507742,-1.141728,22.592384,2.824002,-2.356240,0.421357,64.517517,-1.516470,...,-0.671137,1.0,0.0,1.0,0.0,0.0,1.0,0.0,562,245.710286
2,-0.749912,-0.857332,14.869336,-1.141728,1.979950,-0.067270,-1.632347,-2.983917,36.996815,-1.930776,...,9.988575,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,225.753676
3,-0.450150,1.985147,3.333868,-0.709526,2.273469,-2.741858,-1.849111,-2.278134,28.477945,-1.860006,...,2.821482,0.0,0.0,1.0,1.0,0.0,1.0,0.0,432,242.946937
4,0.279288,1.097462,1.730702,-0.938321,2.504915,-2.757538,-1.809745,-2.844899,41.721783,-1.537563,...,2.921015,0.0,0.0,1.0,1.0,0.0,1.0,0.0,418,243.283326
5,-0.877047,0.358101,-0.470953,-0.914384,3.872672,-1.257706,-2.414156,-2.983917,25.278940,-2.038932,...,-0.895484,1.0,0.0,1.0,1.0,0.0,1.0,0.0,79,264.092456

In [13]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_0 = create_model('mlp')
tunedlgb_0 = tune_model(mlp_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,3,4,5,6,7,8,9,...,1594,1595,1596,1597,1598,1599,562_0.0,930_0,label,Label
0,-0.005076,2.483248,1.637138,-1.310761,27.487274,22.283321,-0.887752,33.334511,-2.195868,2.552701,...,-4.901010,-0.959348,5.595598,-1.068660,2.312325,5.804178,0.0,1.0,416,1729.070950
1,-0.048378,3.205072,0.829165,-1.187592,31.230198,35.142548,-0.887752,23.532068,-2.066118,1.799269,...,-5.039901,-0.669045,7.270128,-1.068660,6.714631,5.966502,0.0,1.0,562,2084.306324
2,-1.897840,-0.504974,-0.176186,-1.343991,12.556967,-0.492761,-0.887752,9.372546,-2.195868,12.552490,...,-5.088955,3.625394,4.593679,-0.978333,5.288262,8.325686,1.0,1.0,376,464.507624
3,6.123942,1.580171,-1.044529,0.951703,-1.480416,4.555271,-0.887752,-1.375484,-0.118360,16.518930,...,2.182472,2.199789,2.832084,2.768498,0.189381,7.018455,1.0,1.0,432,238.419581
4,5.811338,1.941982,-2.021735,0.778105,-1.480416,2.042220,-0.887752,-1.375484,-0.142784,16.976498,...,1.657553,2.894560,2.885218,3.153344,1.078911,6.286177,1.0,1.0,418,263.910066
5,1.808907,-0.104350,-1.340757,-0.596458,0.593756,-0.492761,-0.539573,0.469216,-1.405042,12.833706,...,-1.470939,-0.357151,1.245265,0.079011,6.525244,3.512655,1.0,1.0,79,201.804807

In [14]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_1 = create_model('mlp')
tunedlgb_1 = tune_model(mlp_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,2,3,4,5,6,7,8,9,10,...,1597,1598,1599,461_0,627_0.00014550100604537874,926_0.0,1081_0,1202_0.0,label,Label
0,-1.410486,3.392958,-2.976411,0.296219,2.429862,-1.709799,-0.128025,2.737392,-1.289258,-0.429192,...,-0.724724,-1.188055,-0.727484,1.0,1.0,0.0,1.0,1.0,416,0.297218
1,-1.410486,9.058407,-2.976411,0.363513,1.866945,-1.703974,1.645173,1.095483,-1.297579,-0.474352,...,-0.724724,-1.141997,0.913863,1.0,1.0,0.0,1.0,1.0,562,0.297218
2,-1.410486,-0.870332,-2.976411,-0.796376,4.124949,-1.388481,-0.707547,9.100105,0.491024,-1.123510,...,-0.602553,-0.793788,-0.746440,1.0,0.0,0.0,1.0,0.0,376,0.297218
3,1.969461,8.332669,-2.947576,37.364418,1.351820,-1.088470,2.436136,-2.131739,0.677239,14.615570,...,9.094763,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,432,0.297218
4,1.457173,6.592443,-2.976411,36.003284,0.621813,-1.303082,1.814212,-2.131739,0.914419,15.197017,...,8.362988,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,418,0.297218
5,-1.268449,1.793655,-2.976411,13.228822,-1.124076,-1.268625,-0.707547,-2.131739,-0.497252,10.052865,...,3.942185,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,79,0.297218

In [15]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_2 = create_model('mlp')
tunedmlp_2 = tune_model(mlp_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_2)

,0,1,2,3,4,5,6,7,8,10,...,122_0,152_0.0038872689474374056,224_0,522_0.006037423852831125,955_0,1112_0,1258_0.011656598187983036,1559_0,label,Label
0,-2.846983,0.234605,-1.653401,-1.710206,-1.321823,0.641134,0.000000,1.769085,10.882820,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,416,409.108716
1,-2.846983,0.308584,-2.063349,-1.523313,-1.321823,3.080638,0.000000,3.762923,16.881308,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,562,683.920613
2,-2.846983,0.212922,-2.063468,-1.851772,-1.321823,4.360915,0.000000,-0.578143,8.197358,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,270.626654
3,-2.846983,0.243892,-3.412228,-1.851772,-0.842252,-0.745226,0.134729,18.513033,-0.919998,2.948999,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,432,879.769255
4,-2.846983,0.304154,-3.412228,-1.851772,-0.798965,-0.745226,0.138427,14.787274,-0.919998,4.201375,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,418,874.978928
5,-2.846983,0.258939,-3.412228,-1.711290,-0.990918,-0.745226,0.025360,-0.578143,-0.919998,-0.416297,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,79,737.644228

In [16]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_3 = create_model('mlp')
tunedmlp_3 = tune_model(mlp_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_3)

,0,1,2,3,4,5,6,7,8,9,...,375_0.0015824560541659594,485_0.0,850_0.0,866_0,905_0.0,1070_0.005970458034425974,1503_0,1594_0.0,label,Label
0,19.235926,-0.803617,0.082638,0.009116,52.974342,10.167644,-2.637552,-0.724468,1.839756,0.459048,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,416,327.090219
1,31.417669,-0.803617,0.031164,0.013452,60.972771,10.530417,-2.637552,-0.314324,3.271776,0.450719,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,562,309.891990
2,-0.305092,-0.491902,0.045165,0.142144,20.521189,-0.147032,-2.637552,-0.724468,-4.925828,0.200303,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,11.598063
3,26.128691,3.987044,0.002921,0.058217,24.913845,-0.878746,-1.322923,1.699018,-1.125763,0.173322,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,432,73.935535
4,20.906227,4.933837,0.000000,0.072258,20.522676,-0.878746,-1.236069,0.630457,-1.210850,0.190289,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,418,93.958428
5,31.236610,-0.803617,0.110974,0.000000,14.297068,-0.878746,-2.637552,1.577411,-4.265909,0.107655,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,79,160.486430

In [17]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_4 = create_model('mlp')
tunedmlp_4 = tune_model(mlp_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_4)

,0,1,2,3,4,5,6,7,8,9,...,1599,294_0.0,457_0.0,933_0.0022943299263715744,1222_0.0010084720561280847,1432_0.0,1442_0,1447_0.0,label,Label
0,-1.453338,-1.400425,1.227970,-1.141728,16.062420,2.250534,-1.563449,1.928892,70.684273,-1.116794,...,-0.801210,0.0,0.0,1.0,1.0,0.0,1.0,0.0,416,613.505707
1,-1.628045,-1.036378,0.507742,-1.141728,22.592384,2.824002,-2.356240,0.421357,64.517517,-1.516470,...,-0.671137,1.0,0.0,1.0,0.0,0.0,1.0,0.0,562,826.671982
2,-0.749912,-0.857332,14.869336,-1.141728,1.979950,-0.067270,-1.632347,-2.983917,36.996815,-1.930776,...,9.988575,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,554.998031
3,-0.450150,1.985147,3.333868,-0.709526,2.273469,-2.741858,-1.849111,-2.278134,28.477945,-1.860006,...,2.821482,0.0,0.0,1.0,1.0,0.0,1.0,0.0,432,271.246980
4,0.279288,1.097462,1.730702,-0.938321,2.504915,-2.757538,-1.809745,-2.844899,41.721783,-1.537563,...,2.921015,0.0,0.0,1.0,1.0,0.0,1.0,0.0,418,282.331220
5,-0.877047,0.358101,-0.470953,-0.914384,3.872672,-1.257706,-2.414156,-2.983917,25.278940,-2.038932,...,-0.895484,1.0,0.0,1.0,1.0,0.0,1.0,0.0,79,163.288198

In [18]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_0 = create_model('svm')
tunedsvm_0 = tune_model(svm_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_0)

,0,1,2,3,4,5,6,7,8,9,...,1594,1595,1596,1597,1598,1599,562_0.0,930_0,label,Label
0,-0.005076,2.483248,1.637138,-1.310761,27.487274,22.283321,-0.887752,33.334511,-2.195868,2.552701,...,-4.901010,-0.959348,5.595598,-1.068660,2.312325,5.804178,0.0,1.0,416,325.30533
1,-0.048378,3.205072,0.829165,-1.187592,31.230198,35.142548,-0.887752,23.532068,-2.066118,1.799269,...,-5.039901,-0.669045,7.270128,-1.068660,6.714631,5.966502,0.0,1.0,562,325.30533
2,-1.897840,-0.504974,-0.176186,-1.343991,12.556967,-0.492761,-0.887752,9.372546,-2.195868,12.552490,...,-5.088955,3.625394,4.593679,-0.978333,5.288262,8.325686,1.0,1.0,376,325.30533
3,6.123942,1.580171,-1.044529,0.951703,-1.480416,4.555271,-0.887752,-1.375484,-0.118360,16.518930,...,2.182472,2.199789,2.832084,2.768498,0.189381,7.018455,1.0,1.0,432,325.30533
4,5.811338,1.941982,-2.021735,0.778105,-1.480416,2.042220,-0.887752,-1.375484,-0.142784,16.976498,...,1.657553,2.894560,2.885218,3.153344,1.078911,6.286177,1.0,1.0,418,325.30533
5,1.808907,-0.104350,-1.340757,-0.596458,0.593756,-0.492761,-0.539573,0.469216,-1.405042,12.833706,...,-1.470939,-0.357151,1.245265,0.079011,6.525244,3.512655,1.0,1.0,79,325.30533

In [19]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_1 = create_model('svm')
tunedsvm_1 = tune_model(svm_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_1)

,0,2,3,4,5,6,7,8,9,10,...,1597,1598,1599,461_0,627_0.00014550100604537874,926_0.0,1081_0,1202_0.0,label,Label
0,-1.410486,3.392958,-2.976411,0.296219,2.429862,-1.709799,-0.128025,2.737392,-1.289258,-0.429192,...,-0.724724,-1.188055,-0.727484,1.0,1.0,0.0,1.0,1.0,416,325.891752
1,-1.410486,9.058407,-2.976411,0.363513,1.866945,-1.703974,1.645173,1.095483,-1.297579,-0.474352,...,-0.724724,-1.141997,0.913863,1.0,1.0,0.0,1.0,1.0,562,325.891752
2,-1.410486,-0.870332,-2.976411,-0.796376,4.124949,-1.388481,-0.707547,9.100105,0.491024,-1.123510,...,-0.602553,-0.793788,-0.746440,1.0,0.0,0.0,1.0,0.0,376,325.891752
3,1.969461,8.332669,-2.947576,37.364418,1.351820,-1.088470,2.436136,-2.131739,0.677239,14.615570,...,9.094763,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,432,325.891752
4,1.457173,6.592443,-2.976411,36.003284,0.621813,-1.303082,1.814212,-2.131739,0.914419,15.197017,...,8.362988,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,418,325.891752
5,-1.268449,1.793655,-2.976411,13.228822,-1.124076,-1.268625,-0.707547,-2.131739,-0.497252,10.052865,...,3.942185,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,79,325.891752

In [20]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_2 = create_model('svm')
tunedsvm_2 = tune_model(svm_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_2)

,0,1,2,3,4,5,6,7,8,10,...,122_0,152_0.0038872689474374056,224_0,522_0.006037423852831125,955_0,1112_0,1258_0.011656598187983036,1559_0,label,Label
0,-2.846983,0.234605,-1.653401,-1.710206,-1.321823,0.641134,0.000000,1.769085,10.882820,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,416,325.275239
1,-2.846983,0.308584,-2.063349,-1.523313,-1.321823,3.080638,0.000000,3.762923,16.881308,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,562,325.275239
2,-2.846983,0.212922,-2.063468,-1.851772,-1.321823,4.360915,0.000000,-0.578143,8.197358,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,325.275239
3,-2.846983,0.243892,-3.412228,-1.851772,-0.842252,-0.745226,0.134729,18.513033,-0.919998,2.948999,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,432,325.275239
4,-2.846983,0.304154,-3.412228,-1.851772,-0.798965,-0.745226,0.138427,14.787274,-0.919998,4.201375,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,418,325.275239
5,-2.846983,0.258939,-3.412228,-1.711290,-0.990918,-0.745226,0.025360,-0.578143,-0.919998,-0.416297,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,79,325.275239

In [21]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_3 = create_model('svm')
tunedsvm_3 = tune_model(svm_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_3)

,0,1,2,3,4,5,6,7,8,9,...,375_0.0015824560541659594,485_0.0,850_0.0,866_0,905_0.0,1070_0.005970458034425974,1503_0,1594_0.0,label,Label
0,19.235926,-0.803617,0.082638,0.009116,52.974342,10.167644,-2.637552,-0.724468,1.839756,0.459048,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,416,325.561892
1,31.417669,-0.803617,0.031164,0.013452,60.972771,10.530417,-2.637552,-0.314324,3.271776,0.450719,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,562,325.561892
2,-0.305092,-0.491902,0.045165,0.142144,20.521189,-0.147032,-2.637552,-0.724468,-4.925828,0.200303,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,325.561892
3,26.128691,3.987044,0.002921,0.058217,24.913845,-0.878746,-1.322923,1.699018,-1.125763,0.173322,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,432,325.561892
4,20.906227,4.933837,0.000000,0.072258,20.522676,-0.878746,-1.236069,0.630457,-1.210850,0.190289,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,418,325.561892
5,31.236610,-0.803617,0.110974,0.000000,14.297068,-0.878746,-2.637552,1.577411,-4.265909,0.107655,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,79,325.561892

In [22]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_4 = create_model('svm')
tunedsvm_4 = tune_model(svm_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_4)

,0,1,2,3,4,5,6,7,8,9,...,1599,294_0.0,457_0.0,933_0.0022943299263715744,1222_0.0010084720561280847,1432_0.0,1442_0,1447_0.0,label,Label
0,-1.453338,-1.400425,1.227970,-1.141728,16.062420,2.250534,-1.563449,1.928892,70.684273,-1.116794,...,-0.801210,0.0,0.0,1.0,1.0,0.0,1.0,0.0,416,325.491006
1,-1.628045,-1.036378,0.507742,-1.141728,22.592384,2.824002,-2.356240,0.421357,64.517517,-1.516470,...,-0.671137,1.0,0.0,1.0,0.0,0.0,1.0,0.0,562,325.491006
2,-0.749912,-0.857332,14.869336,-1.141728,1.979950,-0.067270,-1.632347,-2.983917,36.996815,-1.930776,...,9.988575,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,325.491006
3,-0.450150,1.985147,3.333868,-0.709526,2.273469,-2.741858,-1.849111,-2.278134,28.477945,-1.860006,...,2.821482,0.0,0.0,1.0,1.0,0.0,1.0,0.0,432,325.491006
4,0.279288,1.097462,1.730702,-0.938321,2.504915,-2.757538,-1.809745,-2.844899,41.721783,-1.537563,...,2.921015,0.0,0.0,1.0,1.0,0.0,1.0,0.0,418,325.491006
5,-0.877047,0.358101,-0.470953,-0.914384,3.872672,-1.257706,-2.414156,-2.983917,25.278940,-2.038932,...,-0.895484,1.0,0.0,1.0,1.0,0.0,1.0,0.0,79,325.491006

In [23]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_0 = create_model('xgboost')
tunedxgb_0 = tune_model(xgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_0)

,0,1,2,3,4,5,6,7,8,9,...,1594,1595,1596,1597,1598,1599,562_0.0,930_0,label,Label
0,-0.005076,2.483248,1.637138,-1.310761,27.487274,22.283321,-0.887752,33.334511,-2.195868,2.552701,...,-4.901010,-0.959348,5.595598,-1.068660,2.312325,5.804178,0.0,1.0,416,220.375778
1,-0.048378,3.205072,0.829165,-1.187592,31.230198,35.142548,-0.887752,23.532068,-2.066118,1.799269,...,-5.039901,-0.669045,7.270128,-1.068660,6.714631,5.966502,0.0,1.0,562,210.223770
2,-1.897840,-0.504974,-0.176186,-1.343991,12.556967,-0.492761,-0.887752,9.372546,-2.195868,12.552490,...,-5.088955,3.625394,4.593679,-0.978333,5.288262,8.325686,1.0,1.0,376,190.119644
3,6.123942,1.580171,-1.044529,0.951703,-1.480416,4.555271,-0.887752,-1.375484,-0.118360,16.518930,...,2.182472,2.199789,2.832084,2.768498,0.189381,7.018455,1.0,1.0,432,355.064148
4,5.811338,1.941982,-2.021735,0.778105,-1.480416,2.042220,-0.887752,-1.375484,-0.142784,16.976498,...,1.657553,2.894560,2.885218,3.153344,1.078911,6.286177,1.0,1.0,418,353.080902
5,1.808907,-0.104350,-1.340757,-0.596458,0.593756,-0.492761,-0.539573,0.469216,-1.405042,12.833706,...,-1.470939,-0.357151,1.245265,0.079011,6.525244,3.512655,1.0,1.0,79,345.219666

In [24]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_1 = create_model('xgboost')
tunedxgb_1 = tune_model(xgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_1)

,0,2,3,4,5,6,7,8,9,10,...,1597,1598,1599,461_0,627_0.00014550100604537874,926_0.0,1081_0,1202_0.0,label,Label
0,-1.410486,3.392958,-2.976411,0.296219,2.429862,-1.709799,-0.128025,2.737392,-1.289258,-0.429192,...,-0.724724,-1.188055,-0.727484,1.0,1.0,0.0,1.0,1.0,416,205.398834
1,-1.410486,9.058407,-2.976411,0.363513,1.866945,-1.703974,1.645173,1.095483,-1.297579,-0.474352,...,-0.724724,-1.141997,0.913863,1.0,1.0,0.0,1.0,1.0,562,199.013931
2,-1.410486,-0.870332,-2.976411,-0.796376,4.124949,-1.388481,-0.707547,9.100105,0.491024,-1.123510,...,-0.602553,-0.793788,-0.746440,1.0,0.0,0.0,1.0,0.0,376,133.706909
3,1.969461,8.332669,-2.947576,37.364418,1.351820,-1.088470,2.436136,-2.131739,0.677239,14.615570,...,9.094763,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,432,204.533112
4,1.457173,6.592443,-2.976411,36.003284,0.621813,-1.303082,1.814212,-2.131739,0.914419,15.197017,...,8.362988,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,418,218.862183
5,-1.268449,1.793655,-2.976411,13.228822,-1.124076,-1.268625,-0.707547,-2.131739,-0.497252,10.052865,...,3.942185,-1.188055,-0.746440,1.0,0.0,0.0,1.0,0.0,79,226.995331

In [25]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_2 = create_model('xgboost')
tunedxgb_2 = tune_model(xgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_2)

,0,1,2,3,4,5,6,7,8,10,...,122_0,152_0.0038872689474374056,224_0,522_0.006037423852831125,955_0,1112_0,1258_0.011656598187983036,1559_0,label,Label
0,-2.846983,0.234605,-1.653401,-1.710206,-1.321823,0.641134,0.000000,1.769085,10.882820,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,416,149.903473
1,-2.846983,0.308584,-2.063349,-1.523313,-1.321823,3.080638,0.000000,3.762923,16.881308,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,562,194.955612
2,-2.846983,0.212922,-2.063468,-1.851772,-1.321823,4.360915,0.000000,-0.578143,8.197358,-3.658539,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,154.593826
3,-2.846983,0.243892,-3.412228,-1.851772,-0.842252,-0.745226,0.134729,18.513033,-0.919998,2.948999,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,432,307.940826
4,-2.846983,0.304154,-3.412228,-1.851772,-0.798965,-0.745226,0.138427,14.787274,-0.919998,4.201375,...,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,418,311.282104
5,-2.846983,0.258939,-3.412228,-1.711290,-0.990918,-0.745226,0.025360,-0.578143,-0.919998,-0.416297,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,79,276.176758

In [26]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_3 = create_model('xgboost')
tunedxgb_3 = tune_model(xgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_3)

,0,1,2,3,4,5,6,7,8,9,...,375_0.0015824560541659594,485_0.0,850_0.0,866_0,905_0.0,1070_0.005970458034425974,1503_0,1594_0.0,label,Label
0,19.235926,-0.803617,0.082638,0.009116,52.974342,10.167644,-2.637552,-0.724468,1.839756,0.459048,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,416,134.091827
1,31.417669,-0.803617,0.031164,0.013452,60.972771,10.530417,-2.637552,-0.314324,3.271776,0.450719,...,1.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0,562,171.800980
2,-0.305092,-0.491902,0.045165,0.142144,20.521189,-0.147032,-2.637552,-0.724468,-4.925828,0.200303,...,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,197.864792
3,26.128691,3.987044,0.002921,0.058217,24.913845,-0.878746,-1.322923,1.699018,-1.125763,0.173322,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,432,423.854950
4,20.906227,4.933837,0.000000,0.072258,20.522676,-0.878746,-1.236069,0.630457,-1.210850,0.190289,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,418,427.613770
5,31.236610,-0.803617,0.110974,0.000000,14.297068,-0.878746,-2.637552,1.577411,-4.265909,0.107655,...,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,79,30.546822

In [27]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_4 = create_model('xgboost')
tunedxgb_4 = tune_model(xgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_4)

,0,1,2,3,4,5,6,7,8,9,...,1599,294_0.0,457_0.0,933_0.0022943299263715744,1222_0.0010084720561280847,1432_0.0,1442_0,1447_0.0,label,Label
0,-1.453338,-1.400425,1.227970,-1.141728,16.062420,2.250534,-1.563449,1.928892,70.684273,-1.116794,...,-0.801210,0.0,0.0,1.0,1.0,0.0,1.0,0.0,416,197.926239
1,-1.628045,-1.036378,0.507742,-1.141728,22.592384,2.824002,-2.356240,0.421357,64.517517,-1.516470,...,-0.671137,1.0,0.0,1.0,0.0,0.0,1.0,0.0,562,131.728226
2,-0.749912,-0.857332,14.869336,-1.141728,1.979950,-0.067270,-1.632347,-2.983917,36.996815,-1.930776,...,9.988575,1.0,0.0,1.0,1.0,0.0,1.0,0.0,376,200.364227
3,-0.450150,1.985147,3.333868,-0.709526,2.273469,-2.741858,-1.849111,-2.278134,28.477945,-1.860006,...,2.821482,0.0,0.0,1.0,1.0,0.0,1.0,0.0,432,241.119690
4,0.279288,1.097462,1.730702,-0.938321,2.504915,-2.757538,-1.809745,-2.844899,41.721783,-1.537563,...,2.921015,0.0,0.0,1.0,1.0,0.0,1.0,0.0,418,241.119690
5,-0.877047,0.358101,-0.470953,-0.914384,3.872672,-1.257706,-2.414156,-2.983917,25.278940,-2.038932,...,-0.895484,1.0,0.0,1.0,1.0,0.0,1.0,0.0,79,167.786728