In [28]:
import numpy as np
import pandas as pd
from pycaret.regression import *

In [29]:
# 读取数据
df = pd.read_csv('description/Himol/SMILES22-SEED1-Himol-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train = df.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test = df.loc['test'].reset_index(drop=True)
train = train.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test = test.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列

In [30]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.602719,1.848335,-1.952679,-1.772978,0.439404,-2.346351,-0.691738,-0.305908,-1.828254,-1.703891,...,1.987808,2.357095,-1.196412,1.334813,0.712379,-2.188204,-1.752668,1.786677,399,359.552817
1,-1.567097,1.886812,-1.821283,-1.763785,0.224184,-2.365020,-1.507072,-0.183392,-1.920387,-1.808394,...,2.084265,2.366620,-1.369650,1.440924,0.783410,-2.385941,-1.879775,1.752452,141,369.797535
2,-1.673903,1.573005,-2.554469,-1.715032,0.280241,-2.208637,-1.948691,0.538123,-2.033324,-1.734673,...,2.631046,2.354530,-1.017705,1.700605,0.432549,-2.323595,-1.995590,1.580942,520,377.528169
3,-1.997676,2.088799,-2.411089,-1.804279,0.078574,-2.469267,-1.693118,0.016649,-2.278518,-1.897464,...,2.314476,2.400265,-1.978944,1.752525,0.472351,-2.472300,-2.044179,2.211437,79,368.954225

In [31]:
df_1 = pd.read_csv('description/Himol/SMILES22-SEED2-Himol-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_1.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_1 = df_1.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_1 = df_1.loc['test'].reset_index(drop=True)
train_1 = train_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_1 = test_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_1 = create_model('rf')
tunedrf_1 = tune_model(rf_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_1)

,0,1,2,3,4,5,6,7,8,9,...,503,505,506,507,508,509,510,511,label,Label
0,-1.728897,1.481160,-2.508932,-1.686446,0.408191,-2.165598,-1.953253,0.581065,-2.050346,-2.210016,...,2.711146,-1.076271,1.896119,0.728079,-2.339007,2.640900,-2.078216,1.566445,520,289.173077
1,-1.759202,1.732676,-2.009528,-1.757900,0.529035,-2.383176,-0.857616,-0.510878,-2.005139,-2.307827,...,2.307378,-1.346097,1.590506,0.815604,-2.300239,2.491452,-1.875797,1.856421,429,279.185315
2,-1.857533,1.986657,-2.280708,-1.758034,0.118235,-2.362844,-2.684930,-0.200770,-2.260818,-2.369709,...,2.378267,-1.614098,1.954863,0.734723,-2.687938,2.628928,-2.246800,2.090883,79,289.489510
3,-1.745786,1.742136,-1.974748,-1.753530,0.566290,-2.279832,-0.434942,-0.943733,-1.866837,-2.247541,...,2.195935,-1.310739,1.565175,1.012625,-2.188257,2.364096,-1.895547,1.805506,418,273.762238

In [5]:
df_2 = pd.read_csv('description/Himol/SMILES22-SEED3-Himol-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_2.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_2 = df_2.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_2 = df_2.loc['test'].reset_index(drop=True)
train_2 = train_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_2 = test_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_2 = create_model('rf')
tunedrf_2 = tune_model(rf_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_2)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.975222,2.222304,-2.447016,-1.878422,-0.170482,-2.553886,-2.821717,0.009859,-2.428572,-2.118091,...,2.375864,2.579404,-1.638689,1.653238,0.462803,-2.912520,-2.257232,2.320431,79,443.909091
1,-1.826333,1.815943,-2.222901,-1.888773,0.177265,-2.505466,-0.977652,-0.290838,-1.826692,-1.878977,...,2.221546,2.498005,-1.204702,1.483246,0.734535,-2.383710,-1.881065,1.945873,141,443.909091
2,-1.665437,1.920693,-2.022785,-1.851751,0.298922,-2.467347,-0.332350,-0.457994,-1.752344,-1.753692,...,1.982350,2.508546,-0.875573,1.111139,0.780402,-2.234057,-1.793786,1.786836,554,144.166667
3,-1.887070,1.966479,-2.242050,-1.911724,0.119353,-2.624401,-1.224791,-0.069496,-2.146326,-1.910679,...,2.313920,2.528675,-1.522432,1.314286,0.608443,-2.530720,-1.894434,2.039400,134,443.909091
4,-1.486416,1.183534,-3.275813,-1.561630,-0.151731,-2.118302,-2.439436,1.754704,-1.750595,-1.476600,...,2.420933,2.309612,-0.568832,1.628941,-0.415212,-2.312431,-1.905948,1.092126,376,443.909091

In [6]:
df_3 = pd.read_csv('description/Himol/SMILES22-SEED4-Himol-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_3.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_3 = df_3.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_3 = df_3.loc['test'].reset_index(drop=True)
train_3 = train_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_3 = test_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_3 = create_model('rf')
tunedrf_3 = tune_model(rf_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_3)

,0,1,2,3,4,5,6,7,8,9,...,502,503,505,506,507,508,510,511,label,Label
0,-1.908772,2.115860,-2.334849,-1.874491,-0.034389,-2.580950,-2.791755,-0.335686,-2.294414,-2.525283,...,2.462467,2.344853,-1.559242,1.929088,0.848294,-2.771632,-2.378717,2.090812,79,323.130577
1,-1.767233,1.726833,-2.124215,-1.884678,0.374156,-2.532538,-0.943669,-0.821392,-1.734874,-2.361305,...,2.500098,2.196514,-1.157241,1.747623,1.204151,-2.276708,-1.991152,1.768374,418,317.660702
2,-1.614280,1.827115,-1.936137,-1.848246,0.517082,-2.494424,-0.296959,-1.091394,-1.665756,-2.349132,...,2.323495,1.966585,-0.852368,1.350402,1.264217,-2.136646,-1.901227,1.631468,432,317.723969
3,-1.824972,1.870947,-2.142212,-1.907264,0.306118,-2.651456,-1.191347,-0.463865,-2.032022,-2.458501,...,2.506323,2.285309,-1.451554,1.567260,1.039022,-2.414298,-2.004925,1.848887,399,311.981820
4,-1.444095,1.121398,-3.113793,-1.562742,-0.012359,-2.145430,-2.408641,2.482711,-1.664130,-2.052931,...,1.957985,2.388175,-0.568234,1.903151,-0.301541,-2.209997,-2.016788,1.033428,83,325.874648

In [7]:
df_4 = pd.read_csv('description/Himol/SMILES22-SEED5-Himol-group.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_4.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_4 = df_4.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_4 = df_4.loc['test'].reset_index(drop=True)
train_4 = train_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_4 = test_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_4 = create_model('rf')
tunedrf_4 = tune_model(rf_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_4)

,0,1,2,3,4,5,6,7,8,9,...,504,505,506,507,508,509,510,511,label,Label
0,-2.323494,2.310321,-3.278538,-1.815018,-0.109153,-2.410676,-2.436107,-0.051806,-2.246499,-2.379516,...,2.395560,-2.514729,1.376726,-0.618169,-1.954847,2.453452,-1.941261,2.096667,376,272.201988
1,-1.769114,2.118947,-2.014853,-1.899122,0.357070,-2.588580,-0.591654,-0.403889,-1.786939,-2.446753,...,2.434153,-0.991732,1.186185,0.801713,-2.158844,2.323421,-1.900428,1.893587,432,295.824352
2,-1.917136,2.161668,-2.179350,-1.927735,0.302773,-2.596349,-0.686065,-0.377453,-1.949025,-2.487956,...,2.448597,-1.344022,1.287599,0.648971,-2.189266,2.409714,-1.966432,2.030687,418,257.639937
3,-2.242379,2.383135,-2.601016,-1.953414,0.019081,-2.765637,-1.618169,-0.057443,-2.380059,-2.629315,...,2.484506,-1.972850,1.585173,0.427415,-2.455636,2.642080,-2.187904,2.380137,79,237.719937

In [8]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_0 = create_model('lightgbm')
tunedlgb_0 = tune_model(lgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.602719,1.848335,-1.952679,-1.772978,0.439404,-2.346351,-0.691738,-0.305908,-1.828254,-1.703891,...,1.987808,2.357095,-1.196412,1.334813,0.712379,-2.188204,-1.752668,1.786677,399,327.393866
1,-1.567097,1.886812,-1.821283,-1.763785,0.224184,-2.365020,-1.507072,-0.183392,-1.920387,-1.808394,...,2.084265,2.366620,-1.369650,1.440924,0.783410,-2.385941,-1.879775,1.752452,141,327.408697
2,-1.673903,1.573005,-2.554469,-1.715032,0.280241,-2.208637,-1.948691,0.538123,-2.033324,-1.734673,...,2.631046,2.354530,-1.017705,1.700605,0.432549,-2.323595,-1.995590,1.580942,520,327.422903
3,-1.997676,2.088799,-2.411089,-1.804279,0.078574,-2.469267,-1.693118,0.016649,-2.278518,-1.897464,...,2.314476,2.400265,-1.978944,1.752525,0.472351,-2.472300,-2.044179,2.211437,79,327.394920

In [9]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_1 = create_model('lightgbm')
tunedlgb_1 = tune_model(lgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,1,2,3,4,5,6,7,8,9,...,503,505,506,507,508,509,510,511,label,Label
0,-1.728897,1.481160,-2.508932,-1.686446,0.408191,-2.165598,-1.953253,0.581065,-2.050346,-2.210016,...,2.711146,-1.076271,1.896119,0.728079,-2.339007,2.640900,-2.078216,1.566445,520,309.882033
1,-1.759202,1.732676,-2.009528,-1.757900,0.529035,-2.383176,-0.857616,-0.510878,-2.005139,-2.307827,...,2.307378,-1.346097,1.590506,0.815604,-2.300239,2.491452,-1.875797,1.856421,429,310.227581
2,-1.857533,1.986657,-2.280708,-1.758034,0.118235,-2.362844,-2.684930,-0.200770,-2.260818,-2.369709,...,2.378267,-1.614098,1.954863,0.734723,-2.687938,2.628928,-2.246800,2.090883,79,309.882033
3,-1.745786,1.742136,-1.974748,-1.753530,0.566290,-2.279832,-0.434942,-0.943733,-1.866837,-2.247541,...,2.195935,-1.310739,1.565175,1.012625,-2.188257,2.364096,-1.895547,1.805506,418,310.227581

In [10]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_2 = create_model('lightgbm')
tunedlgb_2 = tune_model(lgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_2)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.975222,2.222304,-2.447016,-1.878422,-0.170482,-2.553886,-2.821717,0.009859,-2.428572,-2.118091,...,2.375864,2.579404,-1.638689,1.653238,0.462803,-2.912520,-2.257232,2.320431,79,338.117647
1,-1.826333,1.815943,-2.222901,-1.888773,0.177265,-2.505466,-0.977652,-0.290838,-1.826692,-1.878977,...,2.221546,2.498005,-1.204702,1.483246,0.734535,-2.383710,-1.881065,1.945873,141,338.117647
2,-1.665437,1.920693,-2.022785,-1.851751,0.298922,-2.467347,-0.332350,-0.457994,-1.752344,-1.753692,...,1.982350,2.508546,-0.875573,1.111139,0.780402,-2.234057,-1.793786,1.786836,554,338.117647
3,-1.887070,1.966479,-2.242050,-1.911724,0.119353,-2.624401,-1.224791,-0.069496,-2.146326,-1.910679,...,2.313920,2.528675,-1.522432,1.314286,0.608443,-2.530720,-1.894434,2.039400,134,338.117647
4,-1.486416,1.183534,-3.275813,-1.561630,-0.151731,-2.118302,-2.439436,1.754704,-1.750595,-1.476600,...,2.420933,2.309612,-0.568832,1.628941,-0.415212,-2.312431,-1.905948,1.092126,376,338.117647

In [11]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_3 = create_model('lightgbm')
tunedlgb_3 = tune_model(lgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_3)

,0,1,2,3,4,5,6,7,8,9,...,502,503,505,506,507,508,510,511,label,Label
0,-1.908772,2.115860,-2.334849,-1.874491,-0.034389,-2.580950,-2.791755,-0.335686,-2.294414,-2.525283,...,2.462467,2.344853,-1.559242,1.929088,0.848294,-2.771632,-2.378717,2.090812,79,330.647059
1,-1.767233,1.726833,-2.124215,-1.884678,0.374156,-2.532538,-0.943669,-0.821392,-1.734874,-2.361305,...,2.500098,2.196514,-1.157241,1.747623,1.204151,-2.276708,-1.991152,1.768374,418,330.647059
2,-1.614280,1.827115,-1.936137,-1.848246,0.517082,-2.494424,-0.296959,-1.091394,-1.665756,-2.349132,...,2.323495,1.966585,-0.852368,1.350402,1.264217,-2.136646,-1.901227,1.631468,432,330.647059
3,-1.824972,1.870947,-2.142212,-1.907264,0.306118,-2.651456,-1.191347,-0.463865,-2.032022,-2.458501,...,2.506323,2.285309,-1.451554,1.567260,1.039022,-2.414298,-2.004925,1.848887,399,330.647059
4,-1.444095,1.121398,-3.113793,-1.562742,-0.012359,-2.145430,-2.408641,2.482711,-1.664130,-2.052931,...,1.957985,2.388175,-0.568234,1.903151,-0.301541,-2.209997,-2.016788,1.033428,83,330.647059

In [12]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_4 = create_model('lightgbm')
tunedlgb_4 = tune_model(lgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_4)

,0,1,2,3,4,5,6,7,8,9,...,504,505,506,507,508,509,510,511,label,Label
0,-2.323494,2.310321,-3.278538,-1.815018,-0.109153,-2.410676,-2.436107,-0.051806,-2.246499,-2.379516,...,2.395560,-2.514729,1.376726,-0.618169,-1.954847,2.453452,-1.941261,2.096667,376,310.393088
1,-1.769114,2.118947,-2.014853,-1.899122,0.357070,-2.588580,-0.591654,-0.403889,-1.786939,-2.446753,...,2.434153,-0.991732,1.186185,0.801713,-2.158844,2.323421,-1.900428,1.893587,432,310.744944
2,-1.917136,2.161668,-2.179350,-1.927735,0.302773,-2.596349,-0.686065,-0.377453,-1.949025,-2.487956,...,2.448597,-1.344022,1.287599,0.648971,-2.189266,2.409714,-1.966432,2.030687,418,309.873697
3,-2.242379,2.383135,-2.601016,-1.953414,0.019081,-2.765637,-1.618169,-0.057443,-2.380059,-2.629315,...,2.484506,-1.972850,1.585173,0.427415,-2.455636,2.642080,-2.187904,2.380137,79,310.385605

In [13]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_0 = create_model('mlp')
tunedlgb_0 = tune_model(mlp_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.602719,1.848335,-1.952679,-1.772978,0.439404,-2.346351,-0.691738,-0.305908,-1.828254,-1.703891,...,1.987808,2.357095,-1.196412,1.334813,0.712379,-2.188204,-1.752668,1.786677,399,800.324515
1,-1.567097,1.886812,-1.821283,-1.763785,0.224184,-2.365020,-1.507072,-0.183392,-1.920387,-1.808394,...,2.084265,2.366620,-1.369650,1.440924,0.783410,-2.385941,-1.879775,1.752452,141,884.075809
2,-1.673903,1.573005,-2.554469,-1.715032,0.280241,-2.208637,-1.948691,0.538123,-2.033324,-1.734673,...,2.631046,2.354530,-1.017705,1.700605,0.432549,-2.323595,-1.995590,1.580942,520,935.688725
3,-1.997676,2.088799,-2.411089,-1.804279,0.078574,-2.469267,-1.693118,0.016649,-2.278518,-1.897464,...,2.314476,2.400265,-1.978944,1.752525,0.472351,-2.472300,-2.044179,2.211437,79,847.512013

In [14]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_1 = create_model('mlp')
tunedlgb_1 = tune_model(mlp_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,1,2,3,4,5,6,7,8,9,...,503,505,506,507,508,509,510,511,label,Label
0,-1.728897,1.481160,-2.508932,-1.686446,0.408191,-2.165598,-1.953253,0.581065,-2.050346,-2.210016,...,2.711146,-1.076271,1.896119,0.728079,-2.339007,2.640900,-2.078216,1.566445,520,998.415826
1,-1.759202,1.732676,-2.009528,-1.757900,0.529035,-2.383176,-0.857616,-0.510878,-2.005139,-2.307827,...,2.307378,-1.346097,1.590506,0.815604,-2.300239,2.491452,-1.875797,1.856421,429,828.842816
2,-1.857533,1.986657,-2.280708,-1.758034,0.118235,-2.362844,-2.684930,-0.200770,-2.260818,-2.369709,...,2.378267,-1.614098,1.954863,0.734723,-2.687938,2.628928,-2.246800,2.090883,79,980.844664
3,-1.745786,1.742136,-1.974748,-1.753530,0.566290,-2.279832,-0.434942,-0.943733,-1.866837,-2.247541,...,2.195935,-1.310739,1.565175,1.012625,-2.188257,2.364096,-1.895547,1.805506,418,723.994288

In [15]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_2 = create_model('mlp')
tunedmlp_2 = tune_model(mlp_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_2)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.975222,2.222304,-2.447016,-1.878422,-0.170482,-2.553886,-2.821717,0.009859,-2.428572,-2.118091,...,2.375864,2.579404,-1.638689,1.653238,0.462803,-2.912520,-2.257232,2.320431,79,778.817260
1,-1.826333,1.815943,-2.222901,-1.888773,0.177265,-2.505466,-0.977652,-0.290838,-1.826692,-1.878977,...,2.221546,2.498005,-1.204702,1.483246,0.734535,-2.383710,-1.881065,1.945873,141,611.608440
2,-1.665437,1.920693,-2.022785,-1.851751,0.298922,-2.467347,-0.332350,-0.457994,-1.752344,-1.753692,...,1.982350,2.508546,-0.875573,1.111139,0.780402,-2.234057,-1.793786,1.786836,554,564.391604
3,-1.887070,1.966479,-2.242050,-1.911724,0.119353,-2.624401,-1.224791,-0.069496,-2.146326,-1.910679,...,2.313920,2.528675,-1.522432,1.314286,0.608443,-2.530720,-1.894434,2.039400,134,647.367268
4,-1.486416,1.183534,-3.275813,-1.561630,-0.151731,-2.118302,-2.439436,1.754704,-1.750595,-1.476600,...,2.420933,2.309612,-0.568832,1.628941,-0.415212,-2.312431,-1.905948,1.092126,376,736.787550

In [16]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_3 = create_model('mlp')
tunedmlp_3 = tune_model(mlp_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_3)

,0,1,2,3,4,5,6,7,8,9,...,502,503,505,506,507,508,510,511,label,Label
0,-1.908772,2.115860,-2.334849,-1.874491,-0.034389,-2.580950,-2.791755,-0.335686,-2.294414,-2.525283,...,2.462467,2.344853,-1.559242,1.929088,0.848294,-2.771632,-2.378717,2.090812,79,687.919924
1,-1.767233,1.726833,-2.124215,-1.884678,0.374156,-2.532538,-0.943669,-0.821392,-1.734874,-2.361305,...,2.500098,2.196514,-1.157241,1.747623,1.204151,-2.276708,-1.991152,1.768374,418,419.481953
2,-1.614280,1.827115,-1.936137,-1.848246,0.517082,-2.494424,-0.296959,-1.091394,-1.665756,-2.349132,...,2.323495,1.966585,-0.852368,1.350402,1.264217,-2.136646,-1.901227,1.631468,432,388.152594
3,-1.824972,1.870947,-2.142212,-1.907264,0.306118,-2.651456,-1.191347,-0.463865,-2.032022,-2.458501,...,2.506323,2.285309,-1.451554,1.567260,1.039022,-2.414298,-2.004925,1.848887,399,479.251599
4,-1.444095,1.121398,-3.113793,-1.562742,-0.012359,-2.145430,-2.408641,2.482711,-1.664130,-2.052931,...,1.957985,2.388175,-0.568234,1.903151,-0.301541,-2.209997,-2.016788,1.033428,83,857.603465

In [17]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_4 = create_model('mlp')
tunedmlp_4 = tune_model(mlp_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_4)

,0,1,2,3,4,5,6,7,8,9,...,504,505,506,507,508,509,510,511,label,Label
0,-2.323494,2.310321,-3.278538,-1.815018,-0.109153,-2.410676,-2.436107,-0.051806,-2.246499,-2.379516,...,2.395560,-2.514729,1.376726,-0.618169,-1.954847,2.453452,-1.941261,2.096667,376,423.896553
1,-1.769114,2.118947,-2.014853,-1.899122,0.357070,-2.588580,-0.591654,-0.403889,-1.786939,-2.446753,...,2.434153,-0.991732,1.186185,0.801713,-2.158844,2.323421,-1.900428,1.893587,432,84.733733
2,-1.917136,2.161668,-2.179350,-1.927735,0.302773,-2.596349,-0.686065,-0.377453,-1.949025,-2.487956,...,2.448597,-1.344022,1.287599,0.648971,-2.189266,2.409714,-1.966432,2.030687,418,107.127417
3,-2.242379,2.383135,-2.601016,-1.953414,0.019081,-2.765637,-1.618169,-0.057443,-2.380059,-2.629315,...,2.484506,-1.972850,1.585173,0.427415,-2.455636,2.642080,-2.187904,2.380137,79,212.985408

In [18]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_0 = create_model('svm')
tunedsvm_0 = tune_model(svm_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_0)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.602719,1.848335,-1.952679,-1.772978,0.439404,-2.346351,-0.691738,-0.305908,-1.828254,-1.703891,...,1.987808,2.357095,-1.196412,1.334813,0.712379,-2.188204,-1.752668,1.786677,399,392.728906
1,-1.567097,1.886812,-1.821283,-1.763785,0.224184,-2.365020,-1.507072,-0.183392,-1.920387,-1.808394,...,2.084265,2.366620,-1.369650,1.440924,0.783410,-2.385941,-1.879775,1.752452,141,392.724490
2,-1.673903,1.573005,-2.554469,-1.715032,0.280241,-2.208637,-1.948691,0.538123,-2.033324,-1.734673,...,2.631046,2.354530,-1.017705,1.700605,0.432549,-2.323595,-1.995590,1.580942,520,392.699803
3,-1.997676,2.088799,-2.411089,-1.804279,0.078574,-2.469267,-1.693118,0.016649,-2.278518,-1.897464,...,2.314476,2.400265,-1.978944,1.752525,0.472351,-2.472300,-2.044179,2.211437,79,392.696573

In [19]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_1 = create_model('svm')
tunedsvm_1 = tune_model(svm_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_1)

,0,1,2,3,4,5,6,7,8,9,...,503,505,506,507,508,509,510,511,label,Label
0,-1.728897,1.481160,-2.508932,-1.686446,0.408191,-2.165598,-1.953253,0.581065,-2.050346,-2.210016,...,2.711146,-1.076271,1.896119,0.728079,-2.339007,2.640900,-2.078216,1.566445,520,357.030910
1,-1.759202,1.732676,-2.009528,-1.757900,0.529035,-2.383176,-0.857616,-0.510878,-2.005139,-2.307827,...,2.307378,-1.346097,1.590506,0.815604,-2.300239,2.491452,-1.875797,1.856421,429,357.029321
2,-1.857533,1.986657,-2.280708,-1.758034,0.118235,-2.362844,-2.684930,-0.200770,-2.260818,-2.369709,...,2.378267,-1.614098,1.954863,0.734723,-2.687938,2.628928,-2.246800,2.090883,79,357.026870
3,-1.745786,1.742136,-1.974748,-1.753530,0.566290,-2.279832,-0.434942,-0.943733,-1.866837,-2.247541,...,2.195935,-1.310739,1.565175,1.012625,-2.188257,2.364096,-1.895547,1.805506,418,357.028002

In [20]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_2 = create_model('svm')
tunedsvm_2 = tune_model(svm_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_2)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.975222,2.222304,-2.447016,-1.878422,-0.170482,-2.553886,-2.821717,0.009859,-2.428572,-2.118091,...,2.375864,2.579404,-1.638689,1.653238,0.462803,-2.912520,-2.257232,2.320431,79,399.604171
1,-1.826333,1.815943,-2.222901,-1.888773,0.177265,-2.505466,-0.977652,-0.290838,-1.826692,-1.878977,...,2.221546,2.498005,-1.204702,1.483246,0.734535,-2.383710,-1.881065,1.945873,141,400.571529
2,-1.665437,1.920693,-2.022785,-1.851751,0.298922,-2.467347,-0.332350,-0.457994,-1.752344,-1.753692,...,1.982350,2.508546,-0.875573,1.111139,0.780402,-2.234057,-1.793786,1.786836,554,400.296124
3,-1.887070,1.966479,-2.242050,-1.911724,0.119353,-2.624401,-1.224791,-0.069496,-2.146326,-1.910679,...,2.313920,2.528675,-1.522432,1.314286,0.608443,-2.530720,-1.894434,2.039400,134,400.261226
4,-1.486416,1.183534,-3.275813,-1.561630,-0.151731,-2.118302,-2.439436,1.754704,-1.750595,-1.476600,...,2.420933,2.309612,-0.568832,1.628941,-0.415212,-2.312431,-1.905948,1.092126,376,400.276726

In [21]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_3 = create_model('svm')
tunedsvm_3 = tune_model(svm_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_3)

,0,1,2,3,4,5,6,7,8,9,...,502,503,505,506,507,508,510,511,label,Label
0,-1.908772,2.115860,-2.334849,-1.874491,-0.034389,-2.580950,-2.791755,-0.335686,-2.294414,-2.525283,...,2.462467,2.344853,-1.559242,1.929088,0.848294,-2.771632,-2.378717,2.090812,79,375.997138
1,-1.767233,1.726833,-2.124215,-1.884678,0.374156,-2.532538,-0.943669,-0.821392,-1.734874,-2.361305,...,2.500098,2.196514,-1.157241,1.747623,1.204151,-2.276708,-1.991152,1.768374,418,375.997471
2,-1.614280,1.827115,-1.936137,-1.848246,0.517082,-2.494424,-0.296959,-1.091394,-1.665756,-2.349132,...,2.323495,1.966585,-0.852368,1.350402,1.264217,-2.136646,-1.901227,1.631468,432,375.997570
3,-1.824972,1.870947,-2.142212,-1.907264,0.306118,-2.651456,-1.191347,-0.463865,-2.032022,-2.458501,...,2.506323,2.285309,-1.451554,1.567260,1.039022,-2.414298,-2.004925,1.848887,399,375.997336
4,-1.444095,1.121398,-3.113793,-1.562742,-0.012359,-2.145430,-2.408641,2.482711,-1.664130,-2.052931,...,1.957985,2.388175,-0.568234,1.903151,-0.301541,-2.209997,-2.016788,1.033428,83,375.997801

In [22]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_4 = create_model('svm')
tunedsvm_4 = tune_model(svm_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_4)

,0,1,2,3,4,5,6,7,8,9,...,504,505,506,507,508,509,510,511,label,Label
0,-2.323494,2.310321,-3.278538,-1.815018,-0.109153,-2.410676,-2.436107,-0.051806,-2.246499,-2.379516,...,2.395560,-2.514729,1.376726,-0.618169,-1.954847,2.453452,-1.941261,2.096667,376,368.536203
1,-1.769114,2.118947,-2.014853,-1.899122,0.357070,-2.588580,-0.591654,-0.403889,-1.786939,-2.446753,...,2.434153,-0.991732,1.186185,0.801713,-2.158844,2.323421,-1.900428,1.893587,432,365.569432
2,-1.917136,2.161668,-2.179350,-1.927735,0.302773,-2.596349,-0.686065,-0.377453,-1.949025,-2.487956,...,2.448597,-1.344022,1.287599,0.648971,-2.189266,2.409714,-1.966432,2.030687,418,365.363336
3,-2.242379,2.383135,-2.601016,-1.953414,0.019081,-2.765637,-1.618169,-0.057443,-2.380059,-2.629315,...,2.484506,-1.972850,1.585173,0.427415,-2.455636,2.642080,-2.187904,2.380137,79,366.973520

In [32]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_0 = create_model('xgboost')
tunedxgb_0 = tune_model(xgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_0)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.602719,1.848335,-1.952679,-1.772978,0.439404,-2.346351,-0.691738,-0.305908,-1.828254,-1.703891,...,1.987808,2.357095,-1.196412,1.334813,0.712379,-2.188204,-1.752668,1.786677,399,329.061249
1,-1.567097,1.886812,-1.821283,-1.763785,0.224184,-2.365020,-1.507072,-0.183392,-1.920387,-1.808394,...,2.084265,2.366620,-1.369650,1.440924,0.783410,-2.385941,-1.879775,1.752452,141,357.696503
2,-1.673903,1.573005,-2.554469,-1.715032,0.280241,-2.208637,-1.948691,0.538123,-2.033324,-1.734673,...,2.631046,2.354530,-1.017705,1.700605,0.432549,-2.323595,-1.995590,1.580942,520,367.400177
3,-1.997676,2.088799,-2.411089,-1.804279,0.078574,-2.469267,-1.693118,0.016649,-2.278518,-1.897464,...,2.314476,2.400265,-1.978944,1.752525,0.472351,-2.472300,-2.044179,2.211437,79,326.669586

In [33]:
import shap

def plot_shap(model, data):
    explainer = shap.TreeExplainer(model)
    shap_values = explainer.shap_values(data)
    shap.summary_plot(shap_values, data)

# Assuming `cm` contains your data and `tunedxgb_0` is your tuned model.
data_for_plotting = cm.x
plot_shap(tunedxgb_0, data_for_plotting)

AttributeError: 'tuple' object has no attribute 'x'

In [24]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_1 = create_model('xgboost')
tunedxgb_1 = tune_model(xgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_1)

,0,1,2,3,4,5,6,7,8,9,...,503,505,506,507,508,509,510,511,label,Label
0,-1.728897,1.481160,-2.508932,-1.686446,0.408191,-2.165598,-1.953253,0.581065,-2.050346,-2.210016,...,2.711146,-1.076271,1.896119,0.728079,-2.339007,2.640900,-2.078216,1.566445,520,335.631500
1,-1.759202,1.732676,-2.009528,-1.757900,0.529035,-2.383176,-0.857616,-0.510878,-2.005139,-2.307827,...,2.307378,-1.346097,1.590506,0.815604,-2.300239,2.491452,-1.875797,1.856421,429,307.630157
2,-1.857533,1.986657,-2.280708,-1.758034,0.118235,-2.362844,-2.684930,-0.200770,-2.260818,-2.369709,...,2.378267,-1.614098,1.954863,0.734723,-2.687938,2.628928,-2.246800,2.090883,79,335.655273
3,-1.745786,1.742136,-1.974748,-1.753530,0.566290,-2.279832,-0.434942,-0.943733,-1.866837,-2.247541,...,2.195935,-1.310739,1.565175,1.012625,-2.188257,2.364096,-1.895547,1.805506,418,220.990051

In [25]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_2 = create_model('xgboost')
tunedxgb_2 = tune_model(xgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_2)

,0,1,2,3,4,5,6,7,8,10,...,503,504,505,506,507,508,510,511,label,Label
0,-1.975222,2.222304,-2.447016,-1.878422,-0.170482,-2.553886,-2.821717,0.009859,-2.428572,-2.118091,...,2.375864,2.579404,-1.638689,1.653238,0.462803,-2.912520,-2.257232,2.320431,79,353.399292
1,-1.826333,1.815943,-2.222901,-1.888773,0.177265,-2.505466,-0.977652,-0.290838,-1.826692,-1.878977,...,2.221546,2.498005,-1.204702,1.483246,0.734535,-2.383710,-1.881065,1.945873,141,331.994568
2,-1.665437,1.920693,-2.022785,-1.851751,0.298922,-2.467347,-0.332350,-0.457994,-1.752344,-1.753692,...,1.982350,2.508546,-0.875573,1.111139,0.780402,-2.234057,-1.793786,1.786836,554,316.666473
3,-1.887070,1.966479,-2.242050,-1.911724,0.119353,-2.624401,-1.224791,-0.069496,-2.146326,-1.910679,...,2.313920,2.528675,-1.522432,1.314286,0.608443,-2.530720,-1.894434,2.039400,134,339.328217
4,-1.486416,1.183534,-3.275813,-1.561630,-0.151731,-2.118302,-2.439436,1.754704,-1.750595,-1.476600,...,2.420933,2.309612,-0.568832,1.628941,-0.415212,-2.312431,-1.905948,1.092126,376,371.339752

In [26]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_3 = create_model('xgboost')
tunedxgb_3 = tune_model(xgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_3)

,0,1,2,3,4,5,6,7,8,9,...,502,503,505,506,507,508,510,511,label,Label
0,-1.908772,2.115860,-2.334849,-1.874491,-0.034389,-2.580950,-2.791755,-0.335686,-2.294414,-2.525283,...,2.462467,2.344853,-1.559242,1.929088,0.848294,-2.771632,-2.378717,2.090812,79,401.995361
1,-1.767233,1.726833,-2.124215,-1.884678,0.374156,-2.532538,-0.943669,-0.821392,-1.734874,-2.361305,...,2.500098,2.196514,-1.157241,1.747623,1.204151,-2.276708,-1.991152,1.768374,418,401.995361
2,-1.614280,1.827115,-1.936137,-1.848246,0.517082,-2.494424,-0.296959,-1.091394,-1.665756,-2.349132,...,2.323495,1.966585,-0.852368,1.350402,1.264217,-2.136646,-1.901227,1.631468,432,401.995361
3,-1.824972,1.870947,-2.142212,-1.907264,0.306118,-2.651456,-1.191347,-0.463865,-2.032022,-2.458501,...,2.506323,2.285309,-1.451554,1.567260,1.039022,-2.414298,-2.004925,1.848887,399,401.995361
4,-1.444095,1.121398,-3.113793,-1.562742,-0.012359,-2.145430,-2.408641,2.482711,-1.664130,-2.052931,...,1.957985,2.388175,-0.568234,1.903151,-0.301541,-2.209997,-2.016788,1.033428,83,407.906952

In [27]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_4 = create_model('xgboost')
tunedxgb_4 = tune_model(xgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_4)

,0,1,2,3,4,5,6,7,8,9,...,504,505,506,507,508,509,510,511,label,Label
0,-2.323494,2.310321,-3.278538,-1.815018,-0.109153,-2.410676,-2.436107,-0.051806,-2.246499,-2.379516,...,2.395560,-2.514729,1.376726,-0.618169,-1.954847,2.453452,-1.941261,2.096667,376,236.792343
1,-1.769114,2.118947,-2.014853,-1.899122,0.357070,-2.588580,-0.591654,-0.403889,-1.786939,-2.446753,...,2.434153,-0.991732,1.186185,0.801713,-2.158844,2.323421,-1.900428,1.893587,432,283.653595
2,-1.917136,2.161668,-2.179350,-1.927735,0.302773,-2.596349,-0.686065,-0.377453,-1.949025,-2.487956,...,2.448597,-1.344022,1.287599,0.648971,-2.189266,2.409714,-1.966432,2.030687,418,252.427505
3,-2.242379,2.383135,-2.601016,-1.953414,0.019081,-2.765637,-1.618169,-0.057443,-2.380059,-2.629315,...,2.484506,-1.972850,1.585173,0.427415,-2.455636,2.642080,-2.187904,2.380137,79,184.512360