In [1]:
import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
# 读取数据
df = pd.read_csv('description/imagemol_pretrain_feature/features_seed0.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train = df.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test = df.loc['test'].reset_index(drop=True)
train = train.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test = test.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列

In [3]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.007730341516435146,404_0.0005808355053886771,label,Label
0,0.079274,-0.959942,-0.502757,-0.040397,-0.280501,-0.377739,0.0,1.890984,-0.740085,-0.711845,...,0.008179,0.019972,-1.359527,0.502736,0.715007,-0.204549,0.0,0.0,399,224.314286
1,-0.333824,1.366953,-0.502757,1.167983,-0.280501,1.257068,0.0,-0.977079,0.632412,-0.984083,...,-1.328578,-1.653758,0.690048,-0.426252,-0.602208,0.371368,1.0,0.0,141,306.514286
2,1.376385,0.265354,-0.502757,-1.858841,0.375053,0.504930,0.0,-0.317252,0.270184,0.978024,...,-0.065125,0.445192,1.091886,0.082685,-1.136672,1.000462,0.0,0.0,520,371.792857
3,0.489494,0.509611,-0.502757,-0.249538,-0.280501,0.744822,0.0,-0.821031,0.245879,-0.523856,...,0.230970,0.463559,0.613057,0.702607,-0.386711,0.901166,0.0,0.0,79,227.314286

In [4]:
df_1 = pd.read_csv('description/imagemol_pretrain_feature/features_seed1.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_1.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_1 = df_1.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_1 = df_1.loc['test'].reset_index(drop=True)
train_1 = train_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_1 = test_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_1 = create_model('rf')
tunedrf_1 = tune_model(rf_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_1)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,388_0.0003238083445467055,label,Label
0,1.341411,0.267667,-0.446360,-1.889670,0.375053,0.447593,0.0,-0.146427,0.299954,1.037643,...,-0.597487,-0.122502,0.418872,1.061773,0.052538,-1.294549,1.014860,0.0,520,291.713726
1,0.176210,1.584884,-0.446360,-0.624080,-0.280501,1.578941,0.0,2.666341,0.526403,-0.021041,...,0.397861,-1.881904,-2.201740,0.851708,0.822388,3.139554,0.782554,1.0,429,332.232872
2,-1.213919,-1.034170,-0.446360,-0.281563,-0.280501,-1.462200,0.0,-0.179431,-0.791172,-0.454479,...,-0.373051,-0.354687,0.706889,-0.023938,-0.911794,-0.476761,-0.836215,0.0,79,231.927857
3,-0.385943,0.342878,4.621414,0.185376,-0.280501,-0.245444,0.0,1.787658,0.923196,0.248005,...,0.971848,-0.046320,-0.995375,-0.602438,0.218944,-0.869493,0.861001,0.0,418,293.938009

In [5]:
df_2 = pd.read_csv('description/imagemol_pretrain_feature/features_seed2.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_2.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_2 = df_2.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_2 = df_2.loc['test'].reset_index(drop=True)
train_2 = train_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_2 = test_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_2 = create_model('rf')
tunedrf_2 = tune_model(rf_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_2)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.326572,1.660209,-0.356209,1.488883,-0.280149,1.212295,0.0,-1.193029,0.785453,-0.862884,...,1.006278,-1.415261,-1.772249,0.800498,-0.482370,-0.578233,0.369875,0.0,141,306.958751
1,0.249404,0.301108,2.939074,2.495602,0.382604,-1.047288,0.0,-1.720361,0.782232,1.138942,...,-0.895599,-1.077791,2.333122,-0.393462,-0.516718,1.890125,-0.253926,0.0,554,372.345854
2,1.070689,1.404744,-0.356209,-1.346900,-0.280149,0.090538,0.0,-0.826220,0.882872,0.819303,...,-0.015605,1.327412,1.384480,1.292010,0.629776,-1.013997,1.066397,0.0,134,401.485427
3,0.665202,1.791490,0.796122,0.534970,-0.280149,0.558164,0.0,-1.196294,0.896402,0.394207,...,1.062610,1.193481,0.432344,1.571725,-0.006558,-0.374425,0.843292,0.0,376,340.996684

In [6]:
df_3 = pd.read_csv('description/imagemol_pretrain_feature/features_seed3.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_3.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_3 = df_3.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_3 = df_3.loc['test'].reset_index(drop=True)
train_3 = train_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_3 = test_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_3 = create_model('rf')
tunedrf_3 = tune_model(rf_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_3)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.562722,0.112308,4.621414,0.355165,-0.316586,-0.426926,0.0,1.730497,0.838643,-0.001223,...,1.264192,0.072492,-1.018784,-0.899815,0.157264,-0.724354,0.693690,0.0,418,119.142132
1,-1.641855,-1.204607,-0.446360,-0.077180,-0.316586,-1.210156,0.0,0.508922,-2.115311,-1.682598,...,2.111713,1.219519,-1.889612,-1.153750,-0.539389,0.196441,-1.580400,0.0,432,160.758883
2,-0.165828,-1.263548,-0.446360,0.072241,-0.316586,-0.664270,0.0,2.177162,-1.115312,-1.050741,...,0.409747,0.072627,-0.102087,-1.628292,0.421331,0.749551,-0.494623,0.0,399,506.469543
3,-1.417783,-1.828761,-0.446360,1.154304,-0.316586,-1.518642,0.0,0.090831,-2.037784,-3.061005,...,-2.802036,-1.135420,-0.430895,-0.756090,-1.270937,-0.511693,-2.104469,0.0,83,101.050761

In [7]:
df_4 = pd.read_csv('description/imagemol_pretrain_feature/features_seed4.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_4.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_4 = df_4.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_4 = df_4.loc['test'].reset_index(drop=True)
train_4 = train_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_4 = test_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_4 = create_model('rf')
tunedrf_4 = tune_model(rf_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_4)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.0019427224760875106,404_0.0005808355053886771,label,Label
0,0.563591,1.514030,1.044667,0.329775,-0.316586,0.501830,0.0,-0.934063,0.797749,0.258389,...,1.262568,0.187048,1.415273,0.033224,-0.398304,0.848055,1.0,0.0,376,388.384846
1,-1.455701,-0.897605,-0.377597,-0.126317,-0.316586,-0.991429,0.0,0.280979,-1.713707,-1.216046,...,1.371346,-1.833285,-0.914802,-0.444287,0.143183,-1.263600,0.0,0.0,432,252.659442
2,-0.417862,0.356230,4.806577,0.293193,-0.316586,-0.245778,0.0,1.413610,0.951996,0.153513,...,0.212246,-0.962378,-0.665744,0.228780,-0.764013,0.855206,0.0,0.0,418,249.378833
3,0.379958,0.527801,-0.377597,-0.168200,-0.316586,0.633269,0.0,-0.780832,0.260613,-0.517426,...,0.443268,0.409860,0.581943,0.682742,-0.374490,0.908015,0.0,0.0,79,189.972160

In [8]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_0 = create_model('lightgbm')
tunedlgb_0 = tune_model(lgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.007730341516435146,404_0.0005808355053886771,label,Label
0,0.079274,-0.959942,-0.502757,-0.040397,-0.280501,-0.377739,0.0,1.890984,-0.740085,-0.711845,...,0.008179,0.019972,-1.359527,0.502736,0.715007,-0.204549,0.0,0.0,399,405.792025
1,-0.333824,1.366953,-0.502757,1.167983,-0.280501,1.257068,0.0,-0.977079,0.632412,-0.984083,...,-1.328578,-1.653758,0.690048,-0.426252,-0.602208,0.371368,1.0,0.0,141,339.524039
2,1.376385,0.265354,-0.502757,-1.858841,0.375053,0.504930,0.0,-0.317252,0.270184,0.978024,...,-0.065125,0.445192,1.091886,0.082685,-1.136672,1.000462,0.0,0.0,520,351.824911
3,0.489494,0.509611,-0.502757,-0.249538,-0.280501,0.744822,0.0,-0.821031,0.245879,-0.523856,...,0.230970,0.463559,0.613057,0.702607,-0.386711,0.901166,0.0,0.0,79,369.524378

In [9]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_1 = create_model('lightgbm')
tunedlgb_1 = tune_model(lgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,388_0.0003238083445467055,label,Label
0,1.341411,0.267667,-0.446360,-1.889670,0.375053,0.447593,0.0,-0.146427,0.299954,1.037643,...,-0.597487,-0.122502,0.418872,1.061773,0.052538,-1.294549,1.014860,0.0,520,310.333333
1,0.176210,1.584884,-0.446360,-0.624080,-0.280501,1.578941,0.0,2.666341,0.526403,-0.021041,...,0.397861,-1.881904,-2.201740,0.851708,0.822388,3.139554,0.782554,1.0,429,310.333333
2,-1.213919,-1.034170,-0.446360,-0.281563,-0.280501,-1.462200,0.0,-0.179431,-0.791172,-0.454479,...,-0.373051,-0.354687,0.706889,-0.023938,-0.911794,-0.476761,-0.836215,0.0,79,310.333333
3,-0.385943,0.342878,4.621414,0.185376,-0.280501,-0.245444,0.0,1.787658,0.923196,0.248005,...,0.971848,-0.046320,-0.995375,-0.602438,0.218944,-0.869493,0.861001,0.0,418,310.333333

In [10]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_2 = create_model('lightgbm')
tunedlgb_2 = tune_model(lgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_2)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.326572,1.660209,-0.356209,1.488883,-0.280149,1.212295,0.0,-1.193029,0.785453,-0.862884,...,1.006278,-1.415261,-1.772249,0.800498,-0.482370,-0.578233,0.369875,0.0,141,241.713189
1,0.249404,0.301108,2.939074,2.495602,0.382604,-1.047288,0.0,-1.720361,0.782232,1.138942,...,-0.895599,-1.077791,2.333122,-0.393462,-0.516718,1.890125,-0.253926,0.0,554,344.987709
2,1.070689,1.404744,-0.356209,-1.346900,-0.280149,0.090538,0.0,-0.826220,0.882872,0.819303,...,-0.015605,1.327412,1.384480,1.292010,0.629776,-1.013997,1.066397,0.0,134,318.159369
3,0.665202,1.791490,0.796122,0.534970,-0.280149,0.558164,0.0,-1.196294,0.896402,0.394207,...,1.062610,1.193481,0.432344,1.571725,-0.006558,-0.374425,0.843292,0.0,376,346.195850

In [11]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_3 = create_model('lightgbm')
tunedlgb_3 = tune_model(lgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_3)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.562722,0.112308,4.621414,0.355165,-0.316586,-0.426926,0.0,1.730497,0.838643,-0.001223,...,1.264192,0.072492,-1.018784,-0.899815,0.157264,-0.724354,0.693690,0.0,418,274.578266
1,-1.641855,-1.204607,-0.446360,-0.077180,-0.316586,-1.210156,0.0,0.508922,-2.115311,-1.682598,...,2.111713,1.219519,-1.889612,-1.153750,-0.539389,0.196441,-1.580400,0.0,432,228.533378
2,-0.165828,-1.263548,-0.446360,0.072241,-0.316586,-0.664270,0.0,2.177162,-1.115312,-1.050741,...,0.409747,0.072627,-0.102087,-1.628292,0.421331,0.749551,-0.494623,0.0,399,474.128840
3,-1.417783,-1.828761,-0.446360,1.154304,-0.316586,-1.518642,0.0,0.090831,-2.037784,-3.061005,...,-2.802036,-1.135420,-0.430895,-0.756090,-1.270937,-0.511693,-2.104469,0.0,83,152.028439

In [12]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_4 = create_model('lightgbm')
tunedlgb_4 = tune_model(lgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_4)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.0019427224760875106,404_0.0005808355053886771,label,Label
0,0.563591,1.514030,1.044667,0.329775,-0.316586,0.501830,0.0,-0.934063,0.797749,0.258389,...,1.262568,0.187048,1.415273,0.033224,-0.398304,0.848055,1.0,0.0,376,308.339885
1,-1.455701,-0.897605,-0.377597,-0.126317,-0.316586,-0.991429,0.0,0.280979,-1.713707,-1.216046,...,1.371346,-1.833285,-0.914802,-0.444287,0.143183,-1.263600,0.0,0.0,432,314.083537
2,-0.417862,0.356230,4.806577,0.293193,-0.316586,-0.245778,0.0,1.413610,0.951996,0.153513,...,0.212246,-0.962378,-0.665744,0.228780,-0.764013,0.855206,0.0,0.0,418,314.184888
3,0.379958,0.527801,-0.377597,-0.168200,-0.316586,0.633269,0.0,-0.780832,0.260613,-0.517426,...,0.443268,0.409860,0.581943,0.682742,-0.374490,0.908015,0.0,0.0,79,308.316076

In [28]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_0 = create_model('mlp')
tunedlgb_0 = tune_model(mlp_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.007730341516435146,404_0.0005808355053886771,label,Label
0,0.079274,-0.959942,-0.502757,-0.040397,-0.280501,-0.377739,0.0,1.890984,-0.740085,-0.711845,...,0.008179,0.019972,-1.359527,0.502736,0.715007,-0.204549,0.0,0.0,399,440.373029
1,-0.333824,1.366953,-0.502757,1.167983,-0.280501,1.257068,0.0,-0.977079,0.632412,-0.984083,...,-1.328578,-1.653758,0.690048,-0.426252,-0.602208,0.371368,1.0,0.0,141,89.029926
2,1.376385,0.265354,-0.502757,-1.858841,0.375053,0.504930,0.0,-0.317252,0.270184,0.978024,...,-0.065125,0.445192,1.091886,0.082685,-1.136672,1.000462,0.0,0.0,520,279.054421
3,0.489494,0.509611,-0.502757,-0.249538,-0.280501,0.744822,0.0,-0.821031,0.245879,-0.523856,...,0.230970,0.463559,0.613057,0.702607,-0.386711,0.901166,0.0,0.0,79,195.277006

In [29]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_1 = create_model('mlp')
tunedlgb_1 = tune_model(mlp_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,388_0.0003238083445467055,label,Label
0,1.341411,0.267667,-0.446360,-1.889670,0.375053,0.447593,0.0,-0.146427,0.299954,1.037643,...,-0.597487,-0.122502,0.418872,1.061773,0.052538,-1.294549,1.014860,0.0,520,270.158792
1,0.176210,1.584884,-0.446360,-0.624080,-0.280501,1.578941,0.0,2.666341,0.526403,-0.021041,...,0.397861,-1.881904,-2.201740,0.851708,0.822388,3.139554,0.782554,1.0,429,324.878469
2,-1.213919,-1.034170,-0.446360,-0.281563,-0.280501,-1.462200,0.0,-0.179431,-0.791172,-0.454479,...,-0.373051,-0.354687,0.706889,-0.023938,-0.911794,-0.476761,-0.836215,0.0,79,200.623407
3,-0.385943,0.342878,4.621414,0.185376,-0.280501,-0.245444,0.0,1.787658,0.923196,0.248005,...,0.971848,-0.046320,-0.995375,-0.602438,0.218944,-0.869493,0.861001,0.0,418,113.415104

In [15]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_2 = create_model('mlp')
tunedmlp_2 = tune_model(mlp_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_2)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.326572,1.660209,-0.356209,1.488883,-0.280149,1.212295,0.0,-1.193029,0.785453,-0.862884,...,1.006278,-1.415261,-1.772249,0.800498,-0.482370,-0.578233,0.369875,0.0,141,50.626679
1,0.249404,0.301108,2.939074,2.495602,0.382604,-1.047288,0.0,-1.720361,0.782232,1.138942,...,-0.895599,-1.077791,2.333122,-0.393462,-0.516718,1.890125,-0.253926,0.0,554,138.206131
2,1.070689,1.404744,-0.356209,-1.346900,-0.280149,0.090538,0.0,-0.826220,0.882872,0.819303,...,-0.015605,1.327412,1.384480,1.292010,0.629776,-1.013997,1.066397,0.0,134,312.530168
3,0.665202,1.791490,0.796122,0.534970,-0.280149,0.558164,0.0,-1.196294,0.896402,0.394207,...,1.062610,1.193481,0.432344,1.571725,-0.006558,-0.374425,0.843292,0.0,376,137.409298

In [16]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_3 = create_model('mlp')
tunedmlp_3 = tune_model(mlp_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_3)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.562722,0.112308,4.621414,0.355165,-0.316586,-0.426926,0.0,1.730497,0.838643,-0.001223,...,1.264192,0.072492,-1.018784,-0.899815,0.157264,-0.724354,0.693690,0.0,418,97.261878
1,-1.641855,-1.204607,-0.446360,-0.077180,-0.316586,-1.210156,0.0,0.508922,-2.115311,-1.682598,...,2.111713,1.219519,-1.889612,-1.153750,-0.539389,0.196441,-1.580400,0.0,432,343.261818
2,-0.165828,-1.263548,-0.446360,0.072241,-0.316586,-0.664270,0.0,2.177162,-1.115312,-1.050741,...,0.409747,0.072627,-0.102087,-1.628292,0.421331,0.749551,-0.494623,0.0,399,439.729767
3,-1.417783,-1.828761,-0.446360,1.154304,-0.316586,-1.518642,0.0,0.090831,-2.037784,-3.061005,...,-2.802036,-1.135420,-0.430895,-0.756090,-1.270937,-0.511693,-2.104469,0.0,83,302.961636

In [17]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_4 = create_model('mlp')
tunedmlp_4 = tune_model(mlp_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_4)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.0019427224760875106,404_0.0005808355053886771,label,Label
0,0.563591,1.514030,1.044667,0.329775,-0.316586,0.501830,0.0,-0.934063,0.797749,0.258389,...,1.262568,0.187048,1.415273,0.033224,-0.398304,0.848055,1.0,0.0,376,170.904989
1,-1.455701,-0.897605,-0.377597,-0.126317,-0.316586,-0.991429,0.0,0.280979,-1.713707,-1.216046,...,1.371346,-1.833285,-0.914802,-0.444287,0.143183,-1.263600,0.0,0.0,432,297.489609
2,-0.417862,0.356230,4.806577,0.293193,-0.316586,-0.245778,0.0,1.413610,0.951996,0.153513,...,0.212246,-0.962378,-0.665744,0.228780,-0.764013,0.855206,0.0,0.0,418,129.618674
3,0.379958,0.527801,-0.377597,-0.168200,-0.316586,0.633269,0.0,-0.780832,0.260613,-0.517426,...,0.443268,0.409860,0.581943,0.682742,-0.374490,0.908015,0.0,0.0,79,250.641955

In [18]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_0 = create_model('svm')
tunedsvm_0 = tune_model(svm_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_0)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.007730341516435146,404_0.0005808355053886771,label,Label
0,0.079274,-0.959942,-0.502757,-0.040397,-0.280501,-0.377739,0.0,1.890984,-0.740085,-0.711845,...,0.008179,0.019972,-1.359527,0.502736,0.715007,-0.204549,0.0,0.0,399,399.102927
1,-0.333824,1.366953,-0.502757,1.167983,-0.280501,1.257068,0.0,-0.977079,0.632412,-0.984083,...,-1.328578,-1.653758,0.690048,-0.426252,-0.602208,0.371368,1.0,0.0,141,393.621462
2,1.376385,0.265354,-0.502757,-1.858841,0.375053,0.504930,0.0,-0.317252,0.270184,0.978024,...,-0.065125,0.445192,1.091886,0.082685,-1.136672,1.000462,0.0,0.0,520,382.507184
3,0.489494,0.509611,-0.502757,-0.249538,-0.280501,0.744822,0.0,-0.821031,0.245879,-0.523856,...,0.230970,0.463559,0.613057,0.702607,-0.386711,0.901166,0.0,0.0,79,391.846765

In [19]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_1 = create_model('svm')
tunedsvm_1 = tune_model(svm_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_1)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,388_0.0003238083445467055,label,Label
0,1.341411,0.267667,-0.446360,-1.889670,0.375053,0.447593,0.0,-0.146427,0.299954,1.037643,...,-0.597487,-0.122502,0.418872,1.061773,0.052538,-1.294549,1.014860,0.0,520,345.895162
1,0.176210,1.584884,-0.446360,-0.624080,-0.280501,1.578941,0.0,2.666341,0.526403,-0.021041,...,0.397861,-1.881904,-2.201740,0.851708,0.822388,3.139554,0.782554,1.0,429,358.122530
2,-1.213919,-1.034170,-0.446360,-0.281563,-0.280501,-1.462200,0.0,-0.179431,-0.791172,-0.454479,...,-0.373051,-0.354687,0.706889,-0.023938,-0.911794,-0.476761,-0.836215,0.0,79,353.297313
3,-0.385943,0.342878,4.621414,0.185376,-0.280501,-0.245444,0.0,1.787658,0.923196,0.248005,...,0.971848,-0.046320,-0.995375,-0.602438,0.218944,-0.869493,0.861001,0.0,418,358.091121

In [20]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_2 = create_model('svm')
tunedsvm_2 = tune_model(svm_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_2)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.326572,1.660209,-0.356209,1.488883,-0.280149,1.212295,0.0,-1.193029,0.785453,-0.862884,...,1.006278,-1.415261,-1.772249,0.800498,-0.482370,-0.578233,0.369875,0.0,141,401.445363
1,0.249404,0.301108,2.939074,2.495602,0.382604,-1.047288,0.0,-1.720361,0.782232,1.138942,...,-0.895599,-1.077791,2.333122,-0.393462,-0.516718,1.890125,-0.253926,0.0,554,402.307974
2,1.070689,1.404744,-0.356209,-1.346900,-0.280149,0.090538,0.0,-0.826220,0.882872,0.819303,...,-0.015605,1.327412,1.384480,1.292010,0.629776,-1.013997,1.066397,0.0,134,400.955161
3,0.665202,1.791490,0.796122,0.534970,-0.280149,0.558164,0.0,-1.196294,0.896402,0.394207,...,1.062610,1.193481,0.432344,1.571725,-0.006558,-0.374425,0.843292,0.0,376,402.315224

In [21]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_3 = create_model('svm')
tunedsvm_3 = tune_model(svm_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_3)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.562722,0.112308,4.621414,0.355165,-0.316586,-0.426926,0.0,1.730497,0.838643,-0.001223,...,1.264192,0.072492,-1.018784,-0.899815,0.157264,-0.724354,0.693690,0.0,418,358.866061
1,-1.641855,-1.204607,-0.446360,-0.077180,-0.316586,-1.210156,0.0,0.508922,-2.115311,-1.682598,...,2.111713,1.219519,-1.889612,-1.153750,-0.539389,0.196441,-1.580400,0.0,432,357.412177
2,-0.165828,-1.263548,-0.446360,0.072241,-0.316586,-0.664270,0.0,2.177162,-1.115312,-1.050741,...,0.409747,0.072627,-0.102087,-1.628292,0.421331,0.749551,-0.494623,0.0,399,362.357038
3,-1.417783,-1.828761,-0.446360,1.154304,-0.316586,-1.518642,0.0,0.090831,-2.037784,-3.061005,...,-2.802036,-1.135420,-0.430895,-0.756090,-1.270937,-0.511693,-2.104469,0.0,83,354.684195

In [22]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_4 = create_model('svm')
tunedsvm_4 = tune_model(svm_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_4)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.0019427224760875106,404_0.0005808355053886771,label,Label
0,0.563591,1.514030,1.044667,0.329775,-0.316586,0.501830,0.0,-0.934063,0.797749,0.258389,...,1.262568,0.187048,1.415273,0.033224,-0.398304,0.848055,1.0,0.0,376,370.220725
1,-1.455701,-0.897605,-0.377597,-0.126317,-0.316586,-0.991429,0.0,0.280979,-1.713707,-1.216046,...,1.371346,-1.833285,-0.914802,-0.444287,0.143183,-1.263600,0.0,0.0,432,368.547471
2,-0.417862,0.356230,4.806577,0.293193,-0.316586,-0.245778,0.0,1.413610,0.951996,0.153513,...,0.212246,-0.962378,-0.665744,0.228780,-0.764013,0.855206,0.0,0.0,418,369.982438
3,0.379958,0.527801,-0.377597,-0.168200,-0.316586,0.633269,0.0,-0.780832,0.260613,-0.517426,...,0.443268,0.409860,0.581943,0.682742,-0.374490,0.908015,0.0,0.0,79,369.359942

In [23]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_0 = create_model('xgboost')
tunedxgb_0 = tune_model(xgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_0)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.007730341516435146,404_0.0005808355053886771,label,Label
0,0.079274,-0.959942,-0.502757,-0.040397,-0.280501,-0.377739,0.0,1.890984,-0.740085,-0.711845,...,0.008179,0.019972,-1.359527,0.502736,0.715007,-0.204549,0.0,0.0,399,417.833191
1,-0.333824,1.366953,-0.502757,1.167983,-0.280501,1.257068,0.0,-0.977079,0.632412,-0.984083,...,-1.328578,-1.653758,0.690048,-0.426252,-0.602208,0.371368,1.0,0.0,141,380.387024
2,1.376385,0.265354,-0.502757,-1.858841,0.375053,0.504930,0.0,-0.317252,0.270184,0.978024,...,-0.065125,0.445192,1.091886,0.082685,-1.136672,1.000462,0.0,0.0,520,322.107269
3,0.489494,0.509611,-0.502757,-0.249538,-0.280501,0.744822,0.0,-0.821031,0.245879,-0.523856,...,0.230970,0.463559,0.613057,0.702607,-0.386711,0.901166,0.0,0.0,79,286.403412

In [24]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_1 = create_model('xgboost')
tunedxgb_1 = tune_model(xgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_1)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,388_0.0003238083445467055,label,Label
0,1.341411,0.267667,-0.446360,-1.889670,0.375053,0.447593,0.0,-0.146427,0.299954,1.037643,...,-0.597487,-0.122502,0.418872,1.061773,0.052538,-1.294549,1.014860,0.0,520,330.520935
1,0.176210,1.584884,-0.446360,-0.624080,-0.280501,1.578941,0.0,2.666341,0.526403,-0.021041,...,0.397861,-1.881904,-2.201740,0.851708,0.822388,3.139554,0.782554,1.0,429,413.918732
2,-1.213919,-1.034170,-0.446360,-0.281563,-0.280501,-1.462200,0.0,-0.179431,-0.791172,-0.454479,...,-0.373051,-0.354687,0.706889,-0.023938,-0.911794,-0.476761,-0.836215,0.0,79,164.813385
3,-0.385943,0.342878,4.621414,0.185376,-0.280501,-0.245444,0.0,1.787658,0.923196,0.248005,...,0.971848,-0.046320,-0.995375,-0.602438,0.218944,-0.869493,0.861001,0.0,418,288.147766

In [25]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_2 = create_model('xgboost')
tunedxgb_2 = tune_model(xgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_2)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.326572,1.660209,-0.356209,1.488883,-0.280149,1.212295,0.0,-1.193029,0.785453,-0.862884,...,1.006278,-1.415261,-1.772249,0.800498,-0.482370,-0.578233,0.369875,0.0,141,262.992004
1,0.249404,0.301108,2.939074,2.495602,0.382604,-1.047288,0.0,-1.720361,0.782232,1.138942,...,-0.895599,-1.077791,2.333122,-0.393462,-0.516718,1.890125,-0.253926,0.0,554,378.681702
2,1.070689,1.404744,-0.356209,-1.346900,-0.280149,0.090538,0.0,-0.826220,0.882872,0.819303,...,-0.015605,1.327412,1.384480,1.292010,0.629776,-1.013997,1.066397,0.0,134,335.078247
3,0.665202,1.791490,0.796122,0.534970,-0.280149,0.558164,0.0,-1.196294,0.896402,0.394207,...,1.062610,1.193481,0.432344,1.571725,-0.006558,-0.374425,0.843292,0.0,376,416.585693

In [26]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_3 = create_model('xgboost')
tunedxgb_3 = tune_model(xgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_3)

,0,1,2,3,4,5,6,7,8,9,...,505,506,507,508,509,510,511,404_0.0005808355053886771,label,Label
0,-0.562722,0.112308,4.621414,0.355165,-0.316586,-0.426926,0.0,1.730497,0.838643,-0.001223,...,1.264192,0.072492,-1.018784,-0.899815,0.157264,-0.724354,0.693690,0.0,418,217.414978
1,-1.641855,-1.204607,-0.446360,-0.077180,-0.316586,-1.210156,0.0,0.508922,-2.115311,-1.682598,...,2.111713,1.219519,-1.889612,-1.153750,-0.539389,0.196441,-1.580400,0.0,432,335.437042
2,-0.165828,-1.263548,-0.446360,0.072241,-0.316586,-0.664270,0.0,2.177162,-1.115312,-1.050741,...,0.409747,0.072627,-0.102087,-1.628292,0.421331,0.749551,-0.494623,0.0,399,497.809509
3,-1.417783,-1.828761,-0.446360,1.154304,-0.316586,-1.518642,0.0,0.090831,-2.037784,-3.061005,...,-2.802036,-1.135420,-0.430895,-0.756090,-1.270937,-0.511693,-2.104469,0.0,83,181.488800

In [27]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_4 = create_model('xgboost')
tunedxgb_4 = tune_model(xgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_4)

,0,1,2,3,4,5,6,7,8,9,...,506,507,508,509,510,511,127_0.0019427224760875106,404_0.0005808355053886771,label,Label
0,0.563591,1.514030,1.044667,0.329775,-0.316586,0.501830,0.0,-0.934063,0.797749,0.258389,...,1.262568,0.187048,1.415273,0.033224,-0.398304,0.848055,1.0,0.0,376,378.760132
1,-1.455701,-0.897605,-0.377597,-0.126317,-0.316586,-0.991429,0.0,0.280979,-1.713707,-1.216046,...,1.371346,-1.833285,-0.914802,-0.444287,0.143183,-1.263600,0.0,0.0,432,215.512085
2,-0.417862,0.356230,4.806577,0.293193,-0.316586,-0.245778,0.0,1.413610,0.951996,0.153513,...,0.212246,-0.962378,-0.665744,0.228780,-0.764013,0.855206,0.0,0.0,418,223.272324
3,0.379958,0.527801,-0.377597,-0.168200,-0.316586,0.633269,0.0,-0.780832,0.260613,-0.517426,...,0.443268,0.409860,0.581943,0.682742,-0.374490,0.908015,0.0,0.0,79,274.280060

/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)