In [1]:
import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
# 读取数据
df = pd.read_csv('description/wold2vec/smiles22_wold2vec_seed0.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train = df.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test = df.loc['test'].reset_index(drop=True)
train = train.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test = test.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列

In [3]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf)

,0,1,2,4,5,6,7,8,9,10,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.200023,0.426664,0.315095,0.030312,0.278852,0.234706,-0.348318,0.206378,-0.431774,0.404868,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,433.135802
1,-0.000976,-0.198712,-0.501280,-0.521236,-0.161000,-0.172078,-1.148097,-0.468262,-0.869739,-0.061245,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,193.232510
2,0.937668,-0.820386,-0.905942,-0.216183,-0.957432,-0.878347,1.165573,-0.594817,1.677983,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,179.666667
3,0.937668,-0.824385,-0.905942,-0.674356,-0.957432,-0.710608,0.220795,-0.028652,0.292574,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,212.631687

In [4]:
df_1 = pd.read_csv('description/wold2vec/smiles22_wold2vec_seed1.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_1.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_1 = df_1.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_1 = df_1.loc['test'].reset_index(drop=True)
train_1 = train_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_1 = test_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_1 = create_model('rf')
tunedrf_1 = tune_model(rf_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_1)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.898223,-0.808108,-0.838089,-0.716049,-0.156131,-0.893024,-0.797861,1.152239,-0.584428,1.658604,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,113.651003
1,0.477951,0.544089,0.358818,0.246534,0.086101,0.325997,0.309770,-0.312447,0.182209,-0.434368,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,429,524.535453
2,-0.022922,-0.958668,-0.477785,0.218490,0.059661,-0.348991,0.409423,-0.058695,-0.275499,0.064061,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,113.651003
3,0.161307,0.247091,0.097380,0.040325,-0.108306,0.159878,0.171737,-0.382178,-0.029113,-0.459306,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,135.463475

In [5]:
df_2 = pd.read_csv('description/wold2vec/smiles22_wold2vec_seed2.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_2.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_2 = df_2.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_2 = df_2.loc['test'].reset_index(drop=True)
train_2 = train_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_2 = test_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_2 = create_model('rf')
tunedrf_2 = tune_model(rf_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_2)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,-0.103752,-0.140692,-0.465610,-0.379070,-0.566697,-0.095360,-0.135416,-1.253542,-0.505376,-0.986514,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,236.290120
1,-1.736267,1.882355,1.634453,1.625716,1.351032,1.788765,1.573170,-0.449112,1.242707,-0.712587,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,554,435.133632
2,0.905554,-0.814636,-0.896661,-0.805070,-0.974632,-0.954489,-0.898047,-0.351061,-0.641179,-0.373538,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,134,187.254731
3,0.905554,-0.818971,-0.896661,-1.055952,-1.214620,-0.954489,-1.079171,-0.794361,-1.109854,-0.754988,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,356.750969

In [6]:
df_3 = pd.read_csv('description/wold2vec/smiles22_wold2vec_seed3.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_3.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_3 = df_3.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_3 = df_3.loc['test'].reset_index(drop=True)
train_3 = train_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_3 = test_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_3 = create_model('rf')
tunedrf_3 = tune_model(rf_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_3)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.003429,0.345222,0.189304,0.065830,-0.032361,0.243556,0.196571,-0.354602,-0.013268,-0.509389,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,430.779070
1,-0.536090,1.135045,1.420792,1.151195,0.961809,1.222173,1.100858,0.145127,0.918659,-0.316346,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,469.802326
2,0.015374,0.553488,0.466724,0.284214,0.167673,0.409323,0.336721,-0.277152,0.246899,-0.455497,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,464.639535
3,-1.517576,-0.962772,-1.097668,-1.215642,0.520534,-0.965200,-1.164087,2.762091,-1.515328,4.011643,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,83,164.000000

In [7]:
df_4 = pd.read_csv('description/wold2vec/smiles22_wold2vec_seed4.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_4.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_4 = df_4.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_4 = df_4.loc['test'].reset_index(drop=True)
train_4 = train_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_4 = test_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_4 = create_model('rf')
tunedrf_4 = tune_model(rf_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_4)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.921184,-0.789085,-0.855679,-0.997207,-1.151256,-0.927358,-1.035416,-0.682798,-1.030995,-0.675155,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,352.587121
1,-0.361230,1.073467,1.363592,1.110657,0.869086,1.172344,1.054960,-0.007821,0.899681,-0.390867,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,468.691288
2,0.169357,0.285786,0.134800,0.035525,-0.161404,0.181895,0.151546,-0.434122,-0.002679,-0.533869,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,321.172348
3,0.921184,-0.789085,-0.855679,-0.519130,-0.692615,-0.927358,-0.687841,0.170137,0.006178,0.178956,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,195.808712

In [8]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_0 = create_model('lightgbm')
tunedlgb_0 = tune_model(lgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,4,5,6,7,8,9,10,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.200023,0.426664,0.315095,0.030312,0.278852,0.234706,-0.348318,0.206378,-0.431774,0.404868,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,327.388889
1,-0.000976,-0.198712,-0.501280,-0.521236,-0.161000,-0.172078,-1.148097,-0.468262,-0.869739,-0.061245,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,327.388889
2,0.937668,-0.820386,-0.905942,-0.216183,-0.957432,-0.878347,1.165573,-0.594817,1.677983,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,327.388889
3,0.937668,-0.824385,-0.905942,-0.674356,-0.957432,-0.710608,0.220795,-0.028652,0.292574,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,327.388889

In [9]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_1 = create_model('lightgbm')
tunedlgb_1 = tune_model(lgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.898223,-0.808108,-0.838089,-0.716049,-0.156131,-0.893024,-0.797861,1.152239,-0.584428,1.658604,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,218.964762
1,0.477951,0.544089,0.358818,0.246534,0.086101,0.325997,0.309770,-0.312447,0.182209,-0.434368,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,429,436.640730
2,-0.022922,-0.958668,-0.477785,0.218490,0.059661,-0.348991,0.409423,-0.058695,-0.275499,0.064061,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,179.366595
3,0.161307,0.247091,0.097380,0.040325,-0.108306,0.159878,0.171737,-0.382178,-0.029113,-0.459306,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,356.427846

In [10]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_2 = create_model('lightgbm')
tunedlgb_2 = tune_model(lgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_2)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,-0.103752,-0.140692,-0.465610,-0.379070,-0.566697,-0.095360,-0.135416,-1.253542,-0.505376,-0.986514,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,311.194138
1,-1.736267,1.882355,1.634453,1.625716,1.351032,1.788765,1.573170,-0.449112,1.242707,-0.712587,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,554,329.689062
2,0.905554,-0.814636,-0.896661,-0.805070,-0.974632,-0.954489,-0.898047,-0.351061,-0.641179,-0.373538,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,134,318.056510
3,0.905554,-0.818971,-0.896661,-1.055952,-1.214620,-0.954489,-1.079171,-0.794361,-1.109854,-0.754988,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,322.280025

In [11]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_3 = create_model('lightgbm')
tunedlgb_3 = tune_model(lgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_3)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.003429,0.345222,0.189304,0.065830,-0.032361,0.243556,0.196571,-0.354602,-0.013268,-0.509389,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,408.759457
1,-0.536090,1.135045,1.420792,1.151195,0.961809,1.222173,1.100858,0.145127,0.918659,-0.316346,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,456.907835
2,0.015374,0.553488,0.466724,0.284214,0.167673,0.409323,0.336721,-0.277152,0.246899,-0.455497,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,430.414963
3,-1.517576,-0.962772,-1.097668,-1.215642,0.520534,-0.965200,-1.164087,2.762091,-1.515328,4.011643,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,83,179.431632

In [12]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_4 = create_model('lightgbm')
tunedlgb_4 = tune_model(lgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_4)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.921184,-0.789085,-0.855679,-0.997207,-1.151256,-0.927358,-1.035416,-0.682798,-1.030995,-0.675155,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,318.166667
1,-0.361230,1.073467,1.363592,1.110657,0.869086,1.172344,1.054960,-0.007821,0.899681,-0.390867,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,318.166667
2,0.169357,0.285786,0.134800,0.035525,-0.161404,0.181895,0.151546,-0.434122,-0.002679,-0.533869,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,318.166667
3,0.921184,-0.789085,-0.855679,-0.519130,-0.692615,-0.927358,-0.687841,0.170137,0.006178,0.178956,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,318.166667

In [28]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_0 = create_model('mlp')
tunedmlp_0 = tune_model(mlp_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_0)

,0,1,2,4,5,6,7,8,9,10,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.200023,0.426664,0.315095,0.030312,0.278852,0.234706,-0.348318,0.206378,-0.431774,0.404868,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,347.165774
1,-0.000976,-0.198712,-0.501280,-0.521236,-0.161000,-0.172078,-1.148097,-0.468262,-0.869739,-0.061245,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,167.018461
2,0.937668,-0.820386,-0.905942,-0.216183,-0.957432,-0.878347,1.165573,-0.594817,1.677983,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,267.633682
3,0.937668,-0.824385,-0.905942,-0.674356,-0.957432,-0.710608,0.220795,-0.028652,0.292574,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,242.507829

In [29]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_1 = create_model('mlp')
tunedmlp_1 = tune_model(mlp_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_1)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.898223,-0.808108,-0.838089,-0.716049,-0.156131,-0.893024,-0.797861,1.152239,-0.584428,1.658604,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,203.658029
1,0.477951,0.544089,0.358818,0.246534,0.086101,0.325997,0.309770,-0.312447,0.182209,-0.434368,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,429,434.668967
2,-0.022922,-0.958668,-0.477785,0.218490,0.059661,-0.348991,0.409423,-0.058695,-0.275499,0.064061,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,509.993243
3,0.161307,0.247091,0.097380,0.040325,-0.108306,0.159878,0.171737,-0.382178,-0.029113,-0.459306,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,391.727642

/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

In [15]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_2 = create_model('mlp')
tunedmlp_2 = tune_model(mlp_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_2)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,-0.103752,-0.140692,-0.465610,-0.379070,-0.566697,-0.095360,-0.135416,-1.253542,-0.505376,-0.986514,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,252.014239
1,-1.736267,1.882355,1.634453,1.625716,1.351032,1.788765,1.573170,-0.449112,1.242707,-0.712587,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,554,288.418707
2,0.905554,-0.814636,-0.896661,-0.805070,-0.974632,-0.954489,-0.898047,-0.351061,-0.641179,-0.373538,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,134,216.561562
3,0.905554,-0.818971,-0.896661,-1.055952,-1.214620,-0.954489,-1.079171,-0.794361,-1.109854,-0.754988,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,298.228711

In [16]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_3 = create_model('mlp')
tunedmlp_3 = tune_model(mlp_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_3)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.003429,0.345222,0.189304,0.065830,-0.032361,0.243556,0.196571,-0.354602,-0.013268,-0.509389,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,319.998151
1,-0.536090,1.135045,1.420792,1.151195,0.961809,1.222173,1.100858,0.145127,0.918659,-0.316346,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,375.825124
2,0.015374,0.553488,0.466724,0.284214,0.167673,0.409323,0.336721,-0.277152,0.246899,-0.455497,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,395.121741
3,-1.517576,-0.962772,-1.097668,-1.215642,0.520534,-0.965200,-1.164087,2.762091,-1.515328,4.011643,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,83,505.964589

In [17]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_4 = create_model('mlp')
tunedmlp_4 = tune_model(mlp_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_4)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.921184,-0.789085,-0.855679,-0.997207,-1.151256,-0.927358,-1.035416,-0.682798,-1.030995,-0.675155,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,264.498394
1,-0.361230,1.073467,1.363592,1.110657,0.869086,1.172344,1.054960,-0.007821,0.899681,-0.390867,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,416.965254
2,0.169357,0.285786,0.134800,0.035525,-0.161404,0.181895,0.151546,-0.434122,-0.002679,-0.533869,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,306.267268
3,0.921184,-0.789085,-0.855679,-0.519130,-0.692615,-0.927358,-0.687841,0.170137,0.006178,0.178956,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,237.664223

In [18]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_0 = create_model('svm')
tunedsvm_0 = tune_model(svm_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_0)

,0,1,2,4,5,6,7,8,9,10,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.200023,0.426664,0.315095,0.030312,0.278852,0.234706,-0.348318,0.206378,-0.431774,0.404868,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,408.019934
1,-0.000976,-0.198712,-0.501280,-0.521236,-0.161000,-0.172078,-1.148097,-0.468262,-0.869739,-0.061245,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,387.734716
2,0.937668,-0.820386,-0.905942,-0.216183,-0.957432,-0.878347,1.165573,-0.594817,1.677983,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,369.369152
3,0.937668,-0.824385,-0.905942,-0.674356,-0.957432,-0.710608,0.220795,-0.028652,0.292574,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,366.399639

In [19]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_1 = create_model('svm')
tunedsvm_1 = tune_model(svm_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_1)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.898223,-0.808108,-0.838089,-0.716049,-0.156131,-0.893024,-0.797861,1.152239,-0.584428,1.658604,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,351.993183
1,0.477951,0.544089,0.358818,0.246534,0.086101,0.325997,0.309770,-0.312447,0.182209,-0.434368,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,429,386.171308
2,-0.022922,-0.958668,-0.477785,0.218490,0.059661,-0.348991,0.409423,-0.058695,-0.275499,0.064061,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,375.271110
3,0.161307,0.247091,0.097380,0.040325,-0.108306,0.159878,0.171737,-0.382178,-0.029113,-0.459306,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,379.308821

In [20]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_2 = create_model('svm')
tunedsvm_2 = tune_model(svm_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_2)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,-0.103752,-0.140692,-0.465610,-0.379070,-0.566697,-0.095360,-0.135416,-1.253542,-0.505376,-0.986514,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,388.139784
1,-1.736267,1.882355,1.634453,1.625716,1.351032,1.788765,1.573170,-0.449112,1.242707,-0.712587,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,554,400.613237
2,0.905554,-0.814636,-0.896661,-0.805070,-0.974632,-0.954489,-0.898047,-0.351061,-0.641179,-0.373538,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,134,377.599380
3,0.905554,-0.818971,-0.896661,-1.055952,-1.214620,-0.954489,-1.079171,-0.794361,-1.109854,-0.754988,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,384.080254

In [21]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_3 = create_model('svm')
tunedsvm_3 = tune_model(svm_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_3)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.003429,0.345222,0.189304,0.065830,-0.032361,0.243556,0.196571,-0.354602,-0.013268,-0.509389,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,377.221673
1,-0.536090,1.135045,1.420792,1.151195,0.961809,1.222173,1.100858,0.145127,0.918659,-0.316346,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,389.037218
2,0.015374,0.553488,0.466724,0.284214,0.167673,0.409323,0.336721,-0.277152,0.246899,-0.455497,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,382.412210
3,-1.517576,-0.962772,-1.097668,-1.215642,0.520534,-0.965200,-1.164087,2.762091,-1.515328,4.011643,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,83,368.378013

In [22]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_4 = create_model('svm')
tunedsvm_4 = tune_model(svm_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_4)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.921184,-0.789085,-0.855679,-0.997207,-1.151256,-0.927358,-1.035416,-0.682798,-1.030995,-0.675155,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,360.624217
1,-0.361230,1.073467,1.363592,1.110657,0.869086,1.172344,1.054960,-0.007821,0.899681,-0.390867,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,391.264854
2,0.169357,0.285786,0.134800,0.035525,-0.161404,0.181895,0.151546,-0.434122,-0.002679,-0.533869,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,378.863341
3,0.921184,-0.789085,-0.855679,-0.519130,-0.692615,-0.927358,-0.687841,0.170137,0.006178,0.178956,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,349.714469

In [23]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_0 = create_model('xgboost')
tunedxgb_0 = tune_model(xgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_0)

,0,1,2,4,5,6,7,8,9,10,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.200023,0.426664,0.315095,0.030312,0.278852,0.234706,-0.348318,0.206378,-0.431774,0.404868,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,444.383392
1,-0.000976,-0.198712,-0.501280,-0.521236,-0.161000,-0.172078,-1.148097,-0.468262,-0.869739,-0.061245,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,188.952347
2,0.937668,-0.820386,-0.905942,-0.216183,-0.957432,-0.878347,1.165573,-0.594817,1.677983,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,239.489151
3,0.937668,-0.824385,-0.905942,-0.674356,-0.957432,-0.710608,0.220795,-0.028652,0.292574,-1.156039,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,258.530060

In [24]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_1 = create_model('xgboost')
tunedxgb_1 = tune_model(xgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_1)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.898223,-0.808108,-0.838089,-0.716049,-0.156131,-0.893024,-0.797861,1.152239,-0.584428,1.658604,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,520,151.046555
1,0.477951,0.544089,0.358818,0.246534,0.086101,0.325997,0.309770,-0.312447,0.182209,-0.434368,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,429,472.825226
2,-0.022922,-0.958668,-0.477785,0.218490,0.059661,-0.348991,0.409423,-0.058695,-0.275499,0.064061,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,133.862900
3,0.161307,0.247091,0.097380,0.040325,-0.108306,0.159878,0.171737,-0.382178,-0.029113,-0.459306,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,359.700806

In [25]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_2 = create_model('xgboost')
tunedxgb_2 = tune_model(xgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_2)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,-0.103752,-0.140692,-0.465610,-0.379070,-0.566697,-0.095360,-0.135416,-1.253542,-0.505376,-0.986514,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,141,41.914734
1,-1.736267,1.882355,1.634453,1.625716,1.351032,1.788765,1.573170,-0.449112,1.242707,-0.712587,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,554,386.300293
2,0.905554,-0.814636,-0.896661,-0.805070,-0.974632,-0.954489,-0.898047,-0.351061,-0.641179,-0.373538,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,134,202.272720
3,0.905554,-0.818971,-0.896661,-1.055952,-1.214620,-0.954489,-1.079171,-0.794361,-1.109854,-0.754988,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,252.686142

In [26]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_3 = create_model('xgboost')
tunedxgb_3 = tune_model(xgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_3)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.003429,0.345222,0.189304,0.065830,-0.032361,0.243556,0.196571,-0.354602,-0.013268,-0.509389,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,357.781006
1,-0.536090,1.135045,1.420792,1.151195,0.961809,1.222173,1.100858,0.145127,0.918659,-0.316346,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,387.585510
2,0.015374,0.553488,0.466724,0.284214,0.167673,0.409323,0.336721,-0.277152,0.246899,-0.455497,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,399,450.122131
3,-1.517576,-0.962772,-1.097668,-1.215642,0.520534,-0.965200,-1.164087,2.762091,-1.515328,4.011643,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,83,191.401077

In [27]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_4 = create_model('xgboost')
tunedxgb_4 = tune_model(xgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_4)

,0,1,2,3,4,5,6,7,8,9,...,188_0,189_0,190_0,191_0,192_0,193_0,194_0,195_0,label,Label
0,0.921184,-0.789085,-0.855679,-0.997207,-1.151256,-0.927358,-1.035416,-0.682798,-1.030995,-0.675155,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,376,285.790192
1,-0.361230,1.073467,1.363592,1.110657,0.869086,1.172344,1.054960,-0.007821,0.899681,-0.390867,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,432,402.686768
2,0.169357,0.285786,0.134800,0.035525,-0.161404,0.181895,0.151546,-0.434122,-0.002679,-0.533869,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,418,407.518585
3,0.921184,-0.789085,-0.855679,-0.519130,-0.692615,-0.927358,-0.687841,0.170137,0.006178,0.178956,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,79,172.035461