import numpy as np
import pandas as pd
from pycaret.regression import *

In [8]:
# 读取数据
df = pd.read_csv('description/cddd/smiles22_seed0_descriptors.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train = df.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test = df.loc['test'].reset_index(drop=True)
train = train.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test = test.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列

In [9]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,-0.819942,-1.796535,2.155820,0.367907,-0.073814,-0.359684,-0.680289,1.647075,0.419121,-1.260535,...,-1.498402,-1.445857,-1.148443,1.220721,-0.759125,0.437411,-1.385521,0.704582,399,460.720620
1,0.410549,0.384795,-1.270881,0.499540,-0.155932,1.932578,0.881076,-0.872023,1.004862,0.076065,...,-1.162370,-0.160678,0.919863,0.122709,0.510176,0.842632,0.925145,2.356423,141,166.141085
2,1.068051,0.803782,-0.030388,-0.837285,-0.989676,0.435054,-0.796829,-1.544197,-1.298009,-0.057024,...,-0.036007,1.487669,0.986501,-0.417448,1.406668,0.832216,0.061750,-0.544548,520,166.141085
3,0.421139,-1.084938,-0.642118,0.126659,0.818686,0.009165,0.841481,-1.287029,0.473348,0.423315,...,0.844389,0.966578,0.991788,-0.186441,0.234525,1.183355,1.283125,0.965397,79,166.141085

In [7]:
df_1 = pd.read_csv('description/cddd/smiles22_seed1_descriptors.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_1.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_1 = df_1.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_1 = df_1.loc['test'].reset_index(drop=True)
train_1 = train_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_1 = test_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_1 = create_model('rf')
tunedrf_1 = tune_model(rf_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_1)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.010749,0.949249,-0.033353,-0.907517,-1.112022,0.511110,-0.972341,-1.436507,-1.440714,0.005710,...,0.056444,1.392851,0.908451,-0.504944,1.476036,0.692248,0.043343,-0.634745,520,186.241453
1,-0.752324,-1.006632,0.887826,-0.664864,-1.024253,0.098693,-1.454446,0.744389,1.966745,0.868358,...,-0.147215,-0.419696,-0.632220,0.187560,-0.172117,0.166436,-0.779293,0.908202,429,362.888889
2,-1.140228,-0.585877,-0.150030,-0.194627,1.890023,2.205648,0.011809,-0.583529,-0.892320,-0.200228,...,0.456532,-0.170817,0.877460,-1.382117,1.140711,-0.330300,1.113058,-0.262501,79,237.386111
3,0.246188,1.879160,-0.660117,0.659644,-0.548232,0.675512,-0.876614,-0.891520,1.310765,-0.122522,...,-0.085924,0.163646,-0.196001,0.784887,0.159295,0.358916,0.130106,-0.288144,418,306.476068

In [6]:
df_2 = pd.read_csv('description/cddd/smiles22_seed2_descriptors.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_2.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_2 = df_2.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_2 = df_2.loc['test'].reset_index(drop=True)
train_2 = train_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_2 = test_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_2 = create_model('rf')
tunedrf_2 = tune_model(rf_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_2)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=CC=CC=C1As(O)(O)=O,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OCC(=O)NC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.551038,0.537083,-1.313821,0.534467,-0.166588,1.952712,1.039008,-0.804416,0.946083,0.268818,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,340.039419
1,1.860134,1.041701,1.008030,-0.069764,-1.378974,-1.266266,2.058728,0.801410,-1.169981,0.816603,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,445.340249
2,-0.120810,-0.076060,-0.926336,0.071461,0.894535,0.209732,0.043040,-1.093167,0.193691,0.731968,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,215.917012
3,1.334235,0.879354,-0.923980,0.548442,0.095856,0.141611,-1.175582,-0.937698,-0.311284,1.521997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,248.522822

In [5]:
df_3 = pd.read_csv('description/cddd/smiles22_seed3_descriptors.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_3.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_3 = df_3.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_3 = df_3.loc['test'].reset_index(drop=True)
train_3 = train_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_3 = test_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_3 = create_model('rf')
tunedrf_3 = tune_model(rf_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_3)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=NC(NC2=CC=C(C=C2)As2SCC(CO)S2)=NC(N)=N1,smiles.1_NC1=NC(NC2=CC=C(C=C2)As=O)=NC(N)=N1,smiles.1_O=AsC1=CC=CC=C1,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.237305,1.914632,-0.681978,0.827568,-0.500935,0.340753,-0.828231,-0.811633,1.187101,-0.246093,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,418,310.216481
1,-1.408365,-1.222804,0.189287,1.038708,0.985691,-1.518552,-0.569290,2.334383,0.637321,-0.215336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,432,416.546839
2,-0.951369,-1.933516,2.205589,0.482550,-0.086033,-0.657887,-0.805795,1.992572,0.432927,-1.299734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,399,419.488187
3,0.919032,-0.322383,-0.566406,0.227856,-0.956510,-1.826316,-0.593360,-1.129302,-1.126679,-1.067906,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,83,287.742692

In [3]:
df_4 = pd.read_csv('description/cddd/smiles22_seed4_descriptors.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_4.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_4 = df_4.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_4 = df_4.loc['test'].reset_index(drop=True)
train_4 = train_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_4 = test_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_4 = create_model('rf')
tunedrf_4 = tune_model(rf_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_4)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.170383,0.925553,-0.883577,0.642928,0.199641,0.025139,-1.265940,-0.974539,-0.215327,1.408798,...,1.272984,1.140929,0.909811,0.375288,0.112608,-0.504844,0.535400,-0.667387,376,311.561497
1,-1.315361,-1.068658,0.019318,1.052466,1.093796,-1.283527,-0.540403,2.029472,0.667779,0.002889,...,-2.568645,-0.891704,-1.375980,1.491762,-0.091494,0.517358,-1.168507,0.006490,432,426.773498
2,0.316579,1.940867,-0.774338,0.840316,-0.391934,0.420261,-0.808091,-0.909580,1.201515,-0.027539,...,-0.139099,0.214345,-0.239576,0.952774,0.044461,0.397141,0.144821,-0.287752,418,340.487736
3,0.422637,-1.003620,-0.685408,0.246669,0.932434,-0.141375,0.781875,-1.245803,0.522960,0.567274,...,1.012111,0.967544,0.913992,-0.105105,0.167278,1.081263,1.243765,0.694452,79,208.968664

In [25]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_0 = create_model('lightgbm')
tunedlgb_0 = tune_model(lgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,-0.819942,-1.796535,2.155820,0.367907,-0.073814,-0.359684,-0.680289,1.647075,0.419121,-1.260535,...,-1.498402,-1.445857,-1.148443,1.220721,-0.759125,0.437411,-1.385521,0.704582,399,449.897580
1,0.410549,0.384795,-1.270881,0.499540,-0.155932,1.932578,0.881076,-0.872023,1.004862,0.076065,...,-1.162370,-0.160678,0.919863,0.122709,0.510176,0.842632,0.925145,2.356423,141,127.688115
2,1.068051,0.803782,-0.030388,-0.837285,-0.989676,0.435054,-0.796829,-1.544197,-1.298009,-0.057024,...,-0.036007,1.487669,0.986501,-0.417448,1.406668,0.832216,0.061750,-0.544548,520,279.135091
3,0.421139,-1.084938,-0.642118,0.126659,0.818686,0.009165,0.841481,-1.287029,0.473348,0.423315,...,0.844389,0.966578,0.991788,-0.186441,0.234525,1.183355,1.283125,0.965397,79,117.070426

In [26]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_1 = create_model('lightgbm')
tunedlgb_1 = tune_model(lgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.010749,0.949249,-0.033353,-0.907517,-1.112022,0.511110,-0.972341,-1.436507,-1.440714,0.005710,...,0.056444,1.392851,0.908451,-0.504944,1.476036,0.692248,0.043343,-0.634745,520,270.139979
1,-0.752324,-1.006632,0.887826,-0.664864,-1.024253,0.098693,-1.454446,0.744389,1.966745,0.868358,...,-0.147215,-0.419696,-0.632220,0.187560,-0.172117,0.166436,-0.779293,0.908202,429,301.445905
2,-1.140228,-0.585877,-0.150030,-0.194627,1.890023,2.205648,0.011809,-0.583529,-0.892320,-0.200228,...,0.456532,-0.170817,0.877460,-1.382117,1.140711,-0.330300,1.113058,-0.262501,79,270.606368
3,0.246188,1.879160,-0.660117,0.659644,-0.548232,0.675512,-0.876614,-0.891520,1.310765,-0.122522,...,-0.085924,0.163646,-0.196001,0.784887,0.159295,0.358916,0.130106,-0.288144,418,303.276428

In [27]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_2 = create_model('lightgbm')
tunedlgb_2 = tune_model(lgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_2)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=CC=CC=C1As(O)(O)=O,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OCC(=O)NC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.551038,0.537083,-1.313821,0.534467,-0.166588,1.952712,1.039008,-0.804416,0.946083,0.268818,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,319.547219
1,1.860134,1.041701,1.008030,-0.069764,-1.378974,-1.266266,2.058728,0.801410,-1.169981,0.816603,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,327.249954
2,-0.120810,-0.076060,-0.926336,0.071461,0.894535,0.209732,0.043040,-1.093167,0.193691,0.731968,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,319.672036
3,1.334235,0.879354,-0.923980,0.548442,0.095856,0.141611,-1.175582,-0.937698,-0.311284,1.521997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,319.139925

In [28]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_3 = create_model('lightgbm')
tunedlgb_3 = tune_model(lgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_3)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=NC(NC2=CC=C(C=C2)As2SCC(CO)S2)=NC(N)=N1,smiles.1_NC1=NC(NC2=CC=C(C=C2)As=O)=NC(N)=N1,smiles.1_O=AsC1=CC=CC=C1,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.237305,1.914632,-0.681978,0.827568,-0.500935,0.340753,-0.828231,-0.811633,1.187101,-0.246093,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,418,317.313034
1,-1.408365,-1.222804,0.189287,1.038708,0.985691,-1.518552,-0.569290,2.334383,0.637321,-0.215336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,432,318.666802
2,-0.951369,-1.933516,2.205589,0.482550,-0.086033,-0.657887,-0.805795,1.992572,0.432927,-1.299734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,399,318.871753
3,0.919032,-0.322383,-0.566406,0.227856,-0.956510,-1.826316,-0.593360,-1.129302,-1.126679,-1.067906,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,83,319.369406

In [29]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_4 = create_model('lightgbm')
tunedlgb_4 = tune_model(lgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_4)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.170383,0.925553,-0.883577,0.642928,0.199641,0.025139,-1.265940,-0.974539,-0.215327,1.408798,...,1.272984,1.140929,0.909811,0.375288,0.112608,-0.504844,0.535400,-0.667387,376,228.595768
1,-1.315361,-1.068658,0.019318,1.052466,1.093796,-1.283527,-0.540403,2.029472,0.667779,0.002889,...,-2.568645,-0.891704,-1.375980,1.491762,-0.091494,0.517358,-1.168507,0.006490,432,390.840293
2,0.316579,1.940867,-0.774338,0.840316,-0.391934,0.420261,-0.808091,-0.909580,1.201515,-0.027539,...,-0.139099,0.214345,-0.239576,0.952774,0.044461,0.397141,0.144821,-0.287752,418,219.824381
3,0.422637,-1.003620,-0.685408,0.246669,0.932434,-0.141375,0.781875,-1.245803,0.522960,0.567274,...,1.012111,0.967544,0.913992,-0.105105,0.167278,1.081263,1.243765,0.694452,79,190.711973

In [47]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_0 = create_model('mlp')
tunedmlp_0 = tune_model(mlp_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_0)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,-0.819942,-1.796535,2.155820,0.367907,-0.073814,-0.359684,-0.680289,1.647075,0.419121,-1.260535,...,-1.498402,-1.445857,-1.148443,1.220721,-0.759125,0.437411,-1.385521,0.704582,399,499.617171
1,0.410549,0.384795,-1.270881,0.499540,-0.155932,1.932578,0.881076,-0.872023,1.004862,0.076065,...,-1.162370,-0.160678,0.919863,0.122709,0.510176,0.842632,0.925145,2.356423,141,88.985037
2,1.068051,0.803782,-0.030388,-0.837285,-0.989676,0.435054,-0.796829,-1.544197,-1.298009,-0.057024,...,-0.036007,1.487669,0.986501,-0.417448,1.406668,0.832216,0.061750,-0.544548,520,271.244387
3,0.421139,-1.084938,-0.642118,0.126659,0.818686,0.009165,0.841481,-1.287029,0.473348,0.423315,...,0.844389,0.966578,0.991788,-0.186441,0.234525,1.183355,1.283125,0.965397,79,88.954422

In [46]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_1 = create_model('mlp')
tunedmlp_1 = tune_model(mlp_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_1)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.010749,0.949249,-0.033353,-0.907517,-1.112022,0.511110,-0.972341,-1.436507,-1.440714,0.005710,...,0.056444,1.392851,0.908451,-0.504944,1.476036,0.692248,0.043343,-0.634745,520,258.874373
1,-0.752324,-1.006632,0.887826,-0.664864,-1.024253,0.098693,-1.454446,0.744389,1.966745,0.868358,...,-0.147215,-0.419696,-0.632220,0.187560,-0.172117,0.166436,-0.779293,0.908202,429,258.469949
2,-1.140228,-0.585877,-0.150030,-0.194627,1.890023,2.205648,0.011809,-0.583529,-0.892320,-0.200228,...,0.456532,-0.170817,0.877460,-1.382117,1.140711,-0.330300,1.113058,-0.262501,79,87.386388
3,0.246188,1.879160,-0.660117,0.659644,-0.548232,0.675512,-0.876614,-0.891520,1.310765,-0.122522,...,-0.085924,0.163646,-0.196001,0.784887,0.159295,0.358916,0.130106,-0.288144,418,320.203292

In [32]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_2 = create_model('mlp')
tunedmlp_2 = tune_model(mlp_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_2)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=CC=CC=C1As(O)(O)=O,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OCC(=O)NC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.551038,0.537083,-1.313821,0.534467,-0.166588,1.952712,1.039008,-0.804416,0.946083,0.268818,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,72.154069
1,1.860134,1.041701,1.008030,-0.069764,-1.378974,-1.266266,2.058728,0.801410,-1.169981,0.816603,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,424.847370
2,-0.120810,-0.076060,-0.926336,0.071461,0.894535,0.209732,0.043040,-1.093167,0.193691,0.731968,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,129.648117
3,1.334235,0.879354,-0.923980,0.548442,0.095856,0.141611,-1.175582,-0.937698,-0.311284,1.521997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,248.680322

In [33]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_3 = create_model('mlp')
tunedmlp_3 = tune_model(mlp_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_3)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=NC(NC2=CC=C(C=C2)As2SCC(CO)S2)=NC(N)=N1,smiles.1_NC1=NC(NC2=CC=C(C=C2)As=O)=NC(N)=N1,smiles.1_O=AsC1=CC=CC=C1,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.237305,1.914632,-0.681978,0.827568,-0.500935,0.340753,-0.828231,-0.811633,1.187101,-0.246093,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,418,264.413370
1,-1.408365,-1.222804,0.189287,1.038708,0.985691,-1.518552,-0.569290,2.334383,0.637321,-0.215336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,432,496.181286
2,-0.951369,-1.933516,2.205589,0.482550,-0.086033,-0.657887,-0.805795,1.992572,0.432927,-1.299734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,399,455.606144
3,0.919032,-0.322383,-0.566406,0.227856,-0.956510,-1.826316,-0.593360,-1.129302,-1.126679,-1.067906,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,83,299.249388

In [34]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_4 = create_model('mlp')
tunedmlp_4 = tune_model(mlp_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_4)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.170383,0.925553,-0.883577,0.642928,0.199641,0.025139,-1.265940,-0.974539,-0.215327,1.408798,...,1.272984,1.140929,0.909811,0.375288,0.112608,-0.504844,0.535400,-0.667387,376,222.352750
1,-1.315361,-1.068658,0.019318,1.052466,1.093796,-1.283527,-0.540403,2.029472,0.667779,0.002889,...,-2.568645,-0.891704,-1.375980,1.491762,-0.091494,0.517358,-1.168507,0.006490,432,471.942720
2,0.316579,1.940867,-0.774338,0.840316,-0.391934,0.420261,-0.808091,-0.909580,1.201515,-0.027539,...,-0.139099,0.214345,-0.239576,0.952774,0.044461,0.397141,0.144821,-0.287752,418,307.514294
3,0.422637,-1.003620,-0.685408,0.246669,0.932434,-0.141375,0.781875,-1.245803,0.522960,0.567274,...,1.012111,0.967544,0.913992,-0.105105,0.167278,1.081263,1.243765,0.694452,79,151.853358

In [35]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_0 = create_model('svm')
tunedsvm_0 = tune_model(svm_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_0)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,-0.819942,-1.796535,2.155820,0.367907,-0.073814,-0.359684,-0.680289,1.647075,0.419121,-1.260535,...,-1.498402,-1.445857,-1.148443,1.220721,-0.759125,0.437411,-1.385521,0.704582,399,407.114345
1,0.410549,0.384795,-1.270881,0.499540,-0.155932,1.932578,0.881076,-0.872023,1.004862,0.076065,...,-1.162370,-0.160678,0.919863,0.122709,0.510176,0.842632,0.925145,2.356423,141,391.695186
2,1.068051,0.803782,-0.030388,-0.837285,-0.989676,0.435054,-0.796829,-1.544197,-1.298009,-0.057024,...,-0.036007,1.487669,0.986501,-0.417448,1.406668,0.832216,0.061750,-0.544548,520,376.576630
3,0.421139,-1.084938,-0.642118,0.126659,0.818686,0.009165,0.841481,-1.287029,0.473348,0.423315,...,0.844389,0.966578,0.991788,-0.186441,0.234525,1.183355,1.283125,0.965397,79,374.775501

In [36]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_1 = create_model('svm')
tunedsvm_1 = tune_model(svm_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_1)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.010749,0.949249,-0.033353,-0.907517,-1.112022,0.511110,-0.972341,-1.436507,-1.440714,0.005710,...,0.056444,1.392851,0.908451,-0.504944,1.476036,0.692248,0.043343,-0.634745,520,352.457933
1,-0.752324,-1.006632,0.887826,-0.664864,-1.024253,0.098693,-1.454446,0.744389,1.966745,0.868358,...,-0.147215,-0.419696,-0.632220,0.187560,-0.172117,0.166436,-0.779293,0.908202,429,375.186684
2,-1.140228,-0.585877,-0.150030,-0.194627,1.890023,2.205648,0.011809,-0.583529,-0.892320,-0.200228,...,0.456532,-0.170817,0.877460,-1.382117,1.140711,-0.330300,1.113058,-0.262501,79,361.304687
3,0.246188,1.879160,-0.660117,0.659644,-0.548232,0.675512,-0.876614,-0.891520,1.310765,-0.122522,...,-0.085924,0.163646,-0.196001,0.784887,0.159295,0.358916,0.130106,-0.288144,418,370.173842

In [37]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_2 = create_model('svm')
tunedsvm_2 = tune_model(svm_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_2)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=CC=CC=C1As(O)(O)=O,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OCC(=O)NC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.551038,0.537083,-1.313821,0.534467,-0.166588,1.952712,1.039008,-0.804416,0.946083,0.268818,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,395.078408
1,1.860134,1.041701,1.008030,-0.069764,-1.378974,-1.266266,2.058728,0.801410,-1.169981,0.816603,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,400.830465
2,-0.120810,-0.076060,-0.926336,0.071461,0.894535,0.209732,0.043040,-1.093167,0.193691,0.731968,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,386.627189
3,1.334235,0.879354,-0.923980,0.548442,0.095856,0.141611,-1.175582,-0.937698,-0.311284,1.521997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,395.901827

In [38]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_3 = create_model('svm')
tunedsvm_3 = tune_model(svm_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_3)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=NC(NC2=CC=C(C=C2)As2SCC(CO)S2)=NC(N)=N1,smiles.1_NC1=NC(NC2=CC=C(C=C2)As=O)=NC(N)=N1,smiles.1_O=AsC1=CC=CC=C1,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.237305,1.914632,-0.681978,0.827568,-0.500935,0.340753,-0.828231,-0.811633,1.187101,-0.246093,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,418,369.414255
1,-1.408365,-1.222804,0.189287,1.038708,0.985691,-1.518552,-0.569290,2.334383,0.637321,-0.215336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,432,372.263834
2,-0.951369,-1.933516,2.205589,0.482550,-0.086033,-0.657887,-0.805795,1.992572,0.432927,-1.299734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,399,376.038613
3,0.919032,-0.322383,-0.566406,0.227856,-0.956510,-1.826316,-0.593360,-1.129302,-1.126679,-1.067906,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,83,360.010424

In [39]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_4 = create_model('svm')
tunedsvm_4 = tune_model(svm_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_4)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.170383,0.925553,-0.883577,0.642928,0.199641,0.025139,-1.265940,-0.974539,-0.215327,1.408798,...,1.272984,1.140929,0.909811,0.375288,0.112608,-0.504844,0.535400,-0.667387,376,363.452680
1,-1.315361,-1.068658,0.019318,1.052466,1.093796,-1.283527,-0.540403,2.029472,0.667779,0.002889,...,-2.568645,-0.891704,-1.375980,1.491762,-0.091494,0.517358,-1.168507,0.006490,432,378.001744
2,0.316579,1.940867,-0.774338,0.840316,-0.391934,0.420261,-0.808091,-0.909580,1.201515,-0.027539,...,-0.139099,0.214345,-0.239576,0.952774,0.044461,0.397141,0.144821,-0.287752,418,370.996316
3,0.422637,-1.003620,-0.685408,0.246669,0.932434,-0.141375,0.781875,-1.245803,0.522960,0.567274,...,1.012111,0.967544,0.913992,-0.105105,0.167278,1.081263,1.243765,0.694452,79,353.407023

In [40]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_0 = create_model('xgboost')
tunedxgb_0 = tune_model(xgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_0)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,-0.819942,-1.796535,2.155820,0.367907,-0.073814,-0.359684,-0.680289,1.647075,0.419121,-1.260535,...,-1.498402,-1.445857,-1.148443,1.220721,-0.759125,0.437411,-1.385521,0.704582,399,473.986969
1,0.410549,0.384795,-1.270881,0.499540,-0.155932,1.932578,0.881076,-0.872023,1.004862,0.076065,...,-1.162370,-0.160678,0.919863,0.122709,0.510176,0.842632,0.925145,2.356423,141,194.761871
2,1.068051,0.803782,-0.030388,-0.837285,-0.989676,0.435054,-0.796829,-1.544197,-1.298009,-0.057024,...,-0.036007,1.487669,0.986501,-0.417448,1.406668,0.832216,0.061750,-0.544548,520,254.475998
3,0.421139,-1.084938,-0.642118,0.126659,0.818686,0.009165,0.841481,-1.287029,0.473348,0.423315,...,0.844389,0.966578,0.991788,-0.186441,0.234525,1.183355,1.283125,0.965397,79,147.863068

In [41]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_1 = create_model('xgboost')
tunedxgb_1 = tune_model(xgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_1)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.010749,0.949249,-0.033353,-0.907517,-1.112022,0.511110,-0.972341,-1.436507,-1.440714,0.005710,...,0.056444,1.392851,0.908451,-0.504944,1.476036,0.692248,0.043343,-0.634745,520,248.297028
1,-0.752324,-1.006632,0.887826,-0.664864,-1.024253,0.098693,-1.454446,0.744389,1.966745,0.868358,...,-0.147215,-0.419696,-0.632220,0.187560,-0.172117,0.166436,-0.779293,0.908202,429,339.742584
2,-1.140228,-0.585877,-0.150030,-0.194627,1.890023,2.205648,0.011809,-0.583529,-0.892320,-0.200228,...,0.456532,-0.170817,0.877460,-1.382117,1.140711,-0.330300,1.113058,-0.262501,79,154.087540
3,0.246188,1.879160,-0.660117,0.659644,-0.548232,0.675512,-0.876614,-0.891520,1.310765,-0.122522,...,-0.085924,0.163646,-0.196001,0.784887,0.159295,0.358916,0.130106,-0.288144,418,334.448669

In [42]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_2 = create_model('xgboost')
tunedxgb_2 = tune_model(xgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_2)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=CC=CC=C1As(O)(O)=O,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OCC(=O)NC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.551038,0.537083,-1.313821,0.534467,-0.166588,1.952712,1.039008,-0.804416,0.946083,0.268818,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,299.212189
1,1.860134,1.041701,1.008030,-0.069764,-1.378974,-1.266266,2.058728,0.801410,-1.169981,0.816603,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,269.101135
2,-0.120810,-0.076060,-0.926336,0.071461,0.894535,0.209732,0.043040,-1.093167,0.193691,0.731968,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,244.200714
3,1.334235,0.879354,-0.923980,0.548442,0.095856,0.141611,-1.175582,-0.937698,-0.311284,1.521997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,340.635590

In [43]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_3 = create_model('xgboost')
tunedxgb_3 = tune_model(xgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_3)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,smiles.1_NC1=NC(NC2=CC=C(C=C2)As2SCC(CO)S2)=NC(N)=N1,smiles.1_NC1=NC(NC2=CC=C(C=C2)As=O)=NC(N)=N1,smiles.1_O=AsC1=CC=CC=C1,smiles.1_OC1=CC=C(C=C1)As(O)(O)=O,smiles.1_OAs(O)(=O)C1=CC=C(C=C1)N+(O-)=O,smiles.1_OAs(O)(=O)C1=CC=CC=C1N+(O-)=O,smiles.1_OAs(O)(O)=O,smiles.1_OAs(O)O,label,Label
0,0.237305,1.914632,-0.681978,0.827568,-0.500935,0.340753,-0.828231,-0.811633,1.187101,-0.246093,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,418,262.228485
1,-1.408365,-1.222804,0.189287,1.038708,0.985691,-1.518552,-0.569290,2.334383,0.637321,-0.215336,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,432,513.431641
2,-0.951369,-1.933516,2.205589,0.482550,-0.086033,-0.657887,-0.805795,1.992572,0.432927,-1.299734,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,399,439.957397
3,0.919032,-0.322383,-0.566406,0.227856,-0.956510,-1.826316,-0.593360,-1.129302,-1.126679,-1.067906,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,83,391.514099

In [44]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_4 = create_model('xgboost')
tunedxgb_4 = tune_model(xgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_4)

,descriptor_0,descriptor_1,descriptor_2,descriptor_3,descriptor_4,descriptor_5,descriptor_6,descriptor_7,descriptor_8,descriptor_9,...,descriptor_504,descriptor_505,descriptor_506,descriptor_507,descriptor_508,descriptor_509,descriptor_510,descriptor_511,label,Label
0,1.170383,0.925553,-0.883577,0.642928,0.199641,0.025139,-1.265940,-0.974539,-0.215327,1.408798,...,1.272984,1.140929,0.909811,0.375288,0.112608,-0.504844,0.535400,-0.667387,376,348.231323
1,-1.315361,-1.068658,0.019318,1.052466,1.093796,-1.283527,-0.540403,2.029472,0.667779,0.002889,...,-2.568645,-0.891704,-1.375980,1.491762,-0.091494,0.517358,-1.168507,0.006490,432,350.580902
2,0.316579,1.940867,-0.774338,0.840316,-0.391934,0.420261,-0.808091,-0.909580,1.201515,-0.027539,...,-0.139099,0.214345,-0.239576,0.952774,0.044461,0.397141,0.144821,-0.287752,418,303.639435
3,0.422637,-1.003620,-0.685408,0.246669,0.932434,-0.141375,0.781875,-1.245803,0.522960,0.567274,...,1.012111,0.967544,0.913992,-0.105105,0.167278,1.081263,1.243765,0.694452,79,94.259186