In [1]:
import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
# 读取数据
df = pd.read_csv('description/NYAN/smiles22-SEED0_NYAN.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train = df.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test = df.loc['test'].reset_index(drop=True)
train = train.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test = test.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列

In [3]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.799883,0.379393,-0.514274,0.038683,-0.877614,0.524617,-0.373167,-0.640743,-0.231757,-0.538117,...,-0.864704,-0.456090,0.369863,1.157791,0.925370,0.032618,-0.105462,0.580070,399,442.727000
1,2.021333,1.092345,0.014535,1.365804,-0.868889,-0.153035,0.011675,-0.149138,0.246648,0.016540,...,-0.030839,1.492320,-0.414783,1.306884,-0.207983,0.779432,0.797223,-0.087268,141,116.113762
2,0.465956,0.172794,-0.699436,-0.136064,-1.948680,-1.274022,0.038192,0.891400,-0.195235,0.793735,...,-1.195436,1.543759,0.036266,-0.067163,-1.027167,-0.342288,1.790685,-1.019035,520,186.878429
3,0.379305,0.604974,-0.492959,-1.604652,-0.679653,-1.252762,1.326155,1.359975,-0.796088,0.810084,...,-0.941478,1.097654,-1.603834,0.114125,-1.486617,-0.742271,1.786375,-0.547044,79,167.335095

In [4]:
df_1 = pd.read_csv('description/NYAN/smiles22-SEED1_NYAN.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_1.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_1 = df_1.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_1 = df_1.loc['test'].reset_index(drop=True)
train_1 = train_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_1 = test_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_1 = create_model('rf')
tunedrf_1 = tune_model(rf_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_1)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,0.213486,-0.035066,-1.008608,0.282243,-1.860644,-1.392698,-0.442558,0.950403,-0.169831,0.928323,...,-1.058386,1.466749,0.313362,0.038622,-0.419085,-0.025020,1.61100,-1.094177,520,134.534483
1,-0.848545,0.534542,-0.574128,0.149728,-1.026655,-0.370685,-0.763576,-0.870667,-0.045043,-0.659422,...,-0.462818,-0.197254,-0.366839,0.675947,1.816011,0.123038,-1.32657,0.313091,429,437.844828
2,-1.821101,0.124689,-3.061093,0.345145,0.987932,-1.204176,1.978153,0.400011,-0.064627,1.895963,...,-0.872743,1.553277,0.292955,0.245061,-0.372964,0.296631,0.52333,-1.087824,79,139.577586
3,-0.350166,0.606728,-0.330552,0.032815,-1.278952,-0.346276,0.406895,-1.837601,-0.355016,0.208202,...,-0.170288,0.669550,-1.330641,0.533242,1.639905,-0.131656,-1.44647,0.255208,418,427.758621

In [5]:
df_2 = pd.read_csv('description/NYAN/smiles22-SEED2_NYAN.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_2.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_2 = df_2.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_2 = df_2.loc['test'].reset_index(drop=True)
train_2 = train_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_2 = test_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_2 = create_model('rf')
tunedrf_2 = tune_model(rf_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_2)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,2.420856,1.182074,0.267057,0.426400,-0.869316,-0.211308,0.101896,-0.298050,0.193514,-0.180101,...,0.485804,1.259889,-0.647838,0.997191,-0.278477,1.002466,0.603385,0.017877,141,388.965355
1,2.580812,0.593130,1.159135,-1.587217,1.006040,1.013607,-1.732929,0.273027,1.096079,-2.976841,...,0.934396,-1.412301,-1.370371,-0.996817,0.651881,2.361275,1.232279,2.489030,554,471.489027
2,0.449172,-0.210891,0.106563,-0.817962,-0.901220,-0.872152,0.254767,1.826441,-1.078239,0.623911,...,-0.703620,0.377648,-2.101426,-1.008100,-0.701441,-1.351018,0.177433,-0.485450,134,149.863095
3,0.128522,0.243228,0.013534,-0.029792,-1.562734,-0.309683,-0.950201,0.323510,-1.475961,0.386250,...,0.159437,-0.308207,-1.290370,-1.586326,-0.458822,-1.383143,-0.159533,-0.537089,376,395.223016

In [6]:
df_3 = pd.read_csv('description/NYAN/smiles22-SEED3_NYAN.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_3.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_3 = df_3.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_3 = df_3.loc['test'].reset_index(drop=True)
train_3 = train_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_3 = test_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_3 = create_model('rf')
tunedrf_3 = tune_model(rf_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_3)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.395307,0.619889,0.071746,0.566842,-0.517090,0.113944,0.282293,-1.408456,-0.351931,0.000560,...,0.512478,0.595205,-1.269274,0.860710,1.421625,-0.469325,-1.643723,0.364800,418,436.166667
1,-1.462482,-0.174811,0.513542,1.337196,1.935820,1.728693,-0.976605,-0.653010,1.295371,-0.761638,...,-1.092902,-1.745183,-0.038575,1.442609,1.586229,0.724746,-1.946648,1.832314,432,440.296296
2,-1.064465,0.790157,-0.472985,0.452043,-0.165639,0.866880,-0.834462,-0.807031,-0.138445,-0.677055,...,-0.670123,-0.615552,0.320978,1.222200,1.081446,0.173034,-0.531504,0.758548,399,425.722222
3,-1.410343,-8.328424,-0.936425,1.088124,2.439010,0.375840,0.464912,-0.031413,-0.062366,1.658303,...,3.765368,2.428534,-0.248051,0.067593,-1.691606,-0.339908,-0.766532,-1.470142,83,274.018519

In [7]:
df_4 = pd.read_csv('description/NYAN/smiles22-SEED4_NYAN.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_4.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_4 = df_4.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_4 = df_4.loc['test'].reset_index(drop=True)
train_4 = train_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_4 = test_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_4 = create_model('rf')
tunedrf_4 = tune_model(rf_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_4)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.090657,0.014636,0.059852,0.010339,-1.082354,-0.198483,-0.776011,0.563715,-1.385241,0.488439,...,-0.301188,-0.215051,-1.280196,-1.758355,-0.441627,-1.543460,-0.530179,-0.532714,376,173.728464
1,-1.217948,-0.161324,0.534046,1.904907,1.638765,1.567938,-0.795182,-0.589210,1.315309,-0.643857,...,-1.309439,-1.533861,0.250936,1.111599,1.587656,0.793819,-1.855776,1.730073,432,429.728464
2,-0.216933,0.329114,0.233873,0.140198,-1.208576,-0.176552,0.502418,-1.266555,-0.440928,0.014072,...,0.297573,0.495394,-1.213884,0.814444,1.924116,-0.355582,-1.474261,0.392789,418,188.842697
3,0.250243,0.126577,-0.297958,-2.455114,-0.948740,-1.099498,1.429080,1.510279,-0.874759,0.796176,...,-0.684602,0.832613,-1.715347,-0.365775,-1.450817,-1.099140,1.126482,-0.484428,79,114.861423

In [8]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_0 = create_model('lightgbm')
tunedlgb_0 = tune_model(lgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.799883,0.379393,-0.514274,0.038683,-0.877614,0.524617,-0.373167,-0.640743,-0.231757,-0.538117,...,-0.864704,-0.456090,0.369863,1.157791,0.925370,0.032618,-0.105462,0.580070,399,401.944082
1,2.021333,1.092345,0.014535,1.365804,-0.868889,-0.153035,0.011675,-0.149138,0.246648,0.016540,...,-0.030839,1.492320,-0.414783,1.306884,-0.207983,0.779432,0.797223,-0.087268,141,98.804987
2,0.465956,0.172794,-0.699436,-0.136064,-1.948680,-1.274022,0.038192,0.891400,-0.195235,0.793735,...,-1.195436,1.543759,0.036266,-0.067163,-1.027167,-0.342288,1.790685,-1.019035,520,225.959004
3,0.379305,0.604974,-0.492959,-1.604652,-0.679653,-1.252762,1.326155,1.359975,-0.796088,0.810084,...,-0.941478,1.097654,-1.603834,0.114125,-1.486617,-0.742271,1.786375,-0.547044,79,184.405834

In [9]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_1 = create_model('lightgbm')
tunedlgb_1 = tune_model(lgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,0.213486,-0.035066,-1.008608,0.282243,-1.860644,-1.392698,-0.442558,0.950403,-0.169831,0.928323,...,-1.058386,1.466749,0.313362,0.038622,-0.419085,-0.025020,1.61100,-1.094177,520,232.037971
1,-0.848545,0.534542,-0.574128,0.149728,-1.026655,-0.370685,-0.763576,-0.870667,-0.045043,-0.659422,...,-0.462818,-0.197254,-0.366839,0.675947,1.816011,0.123038,-1.32657,0.313091,429,389.087420
2,-1.821101,0.124689,-3.061093,0.345145,0.987932,-1.204176,1.978153,0.400011,-0.064627,1.895963,...,-0.872743,1.553277,0.292955,0.245061,-0.372964,0.296631,0.52333,-1.087824,79,233.441906
3,-0.350166,0.606728,-0.330552,0.032815,-1.278952,-0.346276,0.406895,-1.837601,-0.355016,0.208202,...,-0.170288,0.669550,-1.330641,0.533242,1.639905,-0.131656,-1.44647,0.255208,418,304.907213

In [10]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_2 = create_model('lightgbm')
tunedlgb_2 = tune_model(lgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_2)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,2.420856,1.182074,0.267057,0.426400,-0.869316,-0.211308,0.101896,-0.298050,0.193514,-0.180101,...,0.485804,1.259889,-0.647838,0.997191,-0.278477,1.002466,0.603385,0.017877,141,275.875136
1,2.580812,0.593130,1.159135,-1.587217,1.006040,1.013607,-1.732929,0.273027,1.096079,-2.976841,...,0.934396,-1.412301,-1.370371,-0.996817,0.651881,2.361275,1.232279,2.489030,554,414.168824
2,0.449172,-0.210891,0.106563,-0.817962,-0.901220,-0.872152,0.254767,1.826441,-1.078239,0.623911,...,-0.703620,0.377648,-2.101426,-1.008100,-0.701441,-1.351018,0.177433,-0.485450,134,156.940508
3,0.128522,0.243228,0.013534,-0.029792,-1.562734,-0.309683,-0.950201,0.323510,-1.475961,0.386250,...,0.159437,-0.308207,-1.290370,-1.586326,-0.458822,-1.383143,-0.159533,-0.537089,376,258.829421

In [11]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_3 = create_model('lightgbm')
tunedlgb_3 = tune_model(lgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_3)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.395307,0.619889,0.071746,0.566842,-0.517090,0.113944,0.282293,-1.408456,-0.351931,0.000560,...,0.512478,0.595205,-1.269274,0.860710,1.421625,-0.469325,-1.643723,0.364800,418,336.397882
1,-1.462482,-0.174811,0.513542,1.337196,1.935820,1.728693,-0.976605,-0.653010,1.295371,-0.761638,...,-1.092902,-1.745183,-0.038575,1.442609,1.586229,0.724746,-1.946648,1.832314,432,399.921255
2,-1.064465,0.790157,-0.472985,0.452043,-0.165639,0.866880,-0.834462,-0.807031,-0.138445,-0.677055,...,-0.670123,-0.615552,0.320978,1.222200,1.081446,0.173034,-0.531504,0.758548,399,392.545493
3,-1.410343,-8.328424,-0.936425,1.088124,2.439010,0.375840,0.464912,-0.031413,-0.062366,1.658303,...,3.765368,2.428534,-0.248051,0.067593,-1.691606,-0.339908,-0.766532,-1.470142,83,258.953416

In [12]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_4 = create_model('lightgbm')
tunedlgb_4 = tune_model(lgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_4)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.090657,0.014636,0.059852,0.010339,-1.082354,-0.198483,-0.776011,0.563715,-1.385241,0.488439,...,-0.301188,-0.215051,-1.280196,-1.758355,-0.441627,-1.543460,-0.530179,-0.532714,376,172.811468
1,-1.217948,-0.161324,0.534046,1.904907,1.638765,1.567938,-0.795182,-0.589210,1.315309,-0.643857,...,-1.309439,-1.533861,0.250936,1.111599,1.587656,0.793819,-1.855776,1.730073,432,415.238848
2,-0.216933,0.329114,0.233873,0.140198,-1.208576,-0.176552,0.502418,-1.266555,-0.440928,0.014072,...,0.297573,0.495394,-1.213884,0.814444,1.924116,-0.355582,-1.474261,0.392789,418,297.906692
3,0.250243,0.126577,-0.297958,-2.455114,-0.948740,-1.099498,1.429080,1.510279,-0.874759,0.796176,...,-0.684602,0.832613,-1.715347,-0.365775,-1.450817,-1.099140,1.126482,-0.484428,79,118.880375

In [28]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_0 = create_model('mlp')
tunedmlp_0 = tune_model(mlp_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_0)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.799883,0.379393,-0.514274,0.038683,-0.877614,0.524617,-0.373167,-0.640743,-0.231757,-0.538117,...,-0.864704,-0.456090,0.369863,1.157791,0.925370,0.032618,-0.105462,0.580070,399,409.230958
1,2.021333,1.092345,0.014535,1.365804,-0.868889,-0.153035,0.011675,-0.149138,0.246648,0.016540,...,-0.030839,1.492320,-0.414783,1.306884,-0.207983,0.779432,0.797223,-0.087268,141,147.133850
2,0.465956,0.172794,-0.699436,-0.136064,-1.948680,-1.274022,0.038192,0.891400,-0.195235,0.793735,...,-1.195436,1.543759,0.036266,-0.067163,-1.027167,-0.342288,1.790685,-1.019035,520,372.030288
3,0.379305,0.604974,-0.492959,-1.604652,-0.679653,-1.252762,1.326155,1.359975,-0.796088,0.810084,...,-0.941478,1.097654,-1.603834,0.114125,-1.486617,-0.742271,1.786375,-0.547044,79,254.098331

In [29]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_1 = create_model('mlp')
tunedmlp_1 = tune_model(mlp_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_1)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,0.213486,-0.035066,-1.008608,0.282243,-1.860644,-1.392698,-0.442558,0.950403,-0.169831,0.928323,...,-1.058386,1.466749,0.313362,0.038622,-0.419085,-0.025020,1.61100,-1.094177,520,421.980902
1,-0.848545,0.534542,-0.574128,0.149728,-1.026655,-0.370685,-0.763576,-0.870667,-0.045043,-0.659422,...,-0.462818,-0.197254,-0.366839,0.675947,1.816011,0.123038,-1.32657,0.313091,429,357.857399
2,-1.821101,0.124689,-3.061093,0.345145,0.987932,-1.204176,1.978153,0.400011,-0.064627,1.895963,...,-0.872743,1.553277,0.292955,0.245061,-0.372964,0.296631,0.52333,-1.087824,79,278.223932
3,-0.350166,0.606728,-0.330552,0.032815,-1.278952,-0.346276,0.406895,-1.837601,-0.355016,0.208202,...,-0.170288,0.669550,-1.330641,0.533242,1.639905,-0.131656,-1.44647,0.255208,418,278.875499

/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

In [15]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_2 = create_model('mlp')
tunedmlp_2 = tune_model(mlp_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_2)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,2.420856,1.182074,0.267057,0.426400,-0.869316,-0.211308,0.101896,-0.298050,0.193514,-0.180101,...,0.485804,1.259889,-0.647838,0.997191,-0.278477,1.002466,0.603385,0.017877,141,153.324371
1,2.580812,0.593130,1.159135,-1.587217,1.006040,1.013607,-1.732929,0.273027,1.096079,-2.976841,...,0.934396,-1.412301,-1.370371,-0.996817,0.651881,2.361275,1.232279,2.489030,554,304.081655
2,0.449172,-0.210891,0.106563,-0.817962,-0.901220,-0.872152,0.254767,1.826441,-1.078239,0.623911,...,-0.703620,0.377648,-2.101426,-1.008100,-0.701441,-1.351018,0.177433,-0.485450,134,121.430025
3,0.128522,0.243228,0.013534,-0.029792,-1.562734,-0.309683,-0.950201,0.323510,-1.475961,0.386250,...,0.159437,-0.308207,-1.290370,-1.586326,-0.458822,-1.383143,-0.159533,-0.537089,376,254.305103

In [16]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_3 = create_model('mlp')
tunedmlp_3 = tune_model(mlp_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_3)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.395307,0.619889,0.071746,0.566842,-0.517090,0.113944,0.282293,-1.408456,-0.351931,0.000560,...,0.512478,0.595205,-1.269274,0.860710,1.421625,-0.469325,-1.643723,0.364800,418,334.511742
1,-1.462482,-0.174811,0.513542,1.337196,1.935820,1.728693,-0.976605,-0.653010,1.295371,-0.761638,...,-1.092902,-1.745183,-0.038575,1.442609,1.586229,0.724746,-1.946648,1.832314,432,644.209038
2,-1.064465,0.790157,-0.472985,0.452043,-0.165639,0.866880,-0.834462,-0.807031,-0.138445,-0.677055,...,-0.670123,-0.615552,0.320978,1.222200,1.081446,0.173034,-0.531504,0.758548,399,481.963999
3,-1.410343,-8.328424,-0.936425,1.088124,2.439010,0.375840,0.464912,-0.031413,-0.062366,1.658303,...,3.765368,2.428534,-0.248051,0.067593,-1.691606,-0.339908,-0.766532,-1.470142,83,354.821384

In [17]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_4 = create_model('mlp')
tunedmlp_4 = tune_model(mlp_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_4)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.090657,0.014636,0.059852,0.010339,-1.082354,-0.198483,-0.776011,0.563715,-1.385241,0.488439,...,-0.301188,-0.215051,-1.280196,-1.758355,-0.441627,-1.543460,-0.530179,-0.532714,376,175.684669
1,-1.217948,-0.161324,0.534046,1.904907,1.638765,1.567938,-0.795182,-0.589210,1.315309,-0.643857,...,-1.309439,-1.533861,0.250936,1.111599,1.587656,0.793819,-1.855776,1.730073,432,527.025398
2,-0.216933,0.329114,0.233873,0.140198,-1.208576,-0.176552,0.502418,-1.266555,-0.440928,0.014072,...,0.297573,0.495394,-1.213884,0.814444,1.924116,-0.355582,-1.474261,0.392789,418,334.239571
3,0.250243,0.126577,-0.297958,-2.455114,-0.948740,-1.099498,1.429080,1.510279,-0.874759,0.796176,...,-0.684602,0.832613,-1.715347,-0.365775,-1.450817,-1.099140,1.126482,-0.484428,79,258.680823

In [18]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_0 = create_model('svm')
tunedsvm_0 = tune_model(svm_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_0)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.799883,0.379393,-0.514274,0.038683,-0.877614,0.524617,-0.373167,-0.640743,-0.231757,-0.538117,...,-0.864704,-0.456090,0.369863,1.157791,0.925370,0.032618,-0.105462,0.580070,399,411.582181
1,2.021333,1.092345,0.014535,1.365804,-0.868889,-0.153035,0.011675,-0.149138,0.246648,0.016540,...,-0.030839,1.492320,-0.414783,1.306884,-0.207983,0.779432,0.797223,-0.087268,141,382.678607
2,0.465956,0.172794,-0.699436,-0.136064,-1.948680,-1.274022,0.038192,0.891400,-0.195235,0.793735,...,-1.195436,1.543759,0.036266,-0.067163,-1.027167,-0.342288,1.790685,-1.019035,520,369.351073
3,0.379305,0.604974,-0.492959,-1.604652,-0.679653,-1.252762,1.326155,1.359975,-0.796088,0.810084,...,-0.941478,1.097654,-1.603834,0.114125,-1.486617,-0.742271,1.786375,-0.547044,79,365.986654

In [19]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_1 = create_model('svm')
tunedsvm_1 = tune_model(svm_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_1)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,0.213486,-0.035066,-1.008608,0.282243,-1.860644,-1.392698,-0.442558,0.950403,-0.169831,0.928323,...,-1.058386,1.466749,0.313362,0.038622,-0.419085,-0.025020,1.61100,-1.094177,520,349.999082
1,-0.848545,0.534542,-0.574128,0.149728,-1.026655,-0.370685,-0.763576,-0.870667,-0.045043,-0.659422,...,-0.462818,-0.197254,-0.366839,0.675947,1.816011,0.123038,-1.32657,0.313091,429,389.529755
2,-1.821101,0.124689,-3.061093,0.345145,0.987932,-1.204176,1.978153,0.400011,-0.064627,1.895963,...,-0.872743,1.553277,0.292955,0.245061,-0.372964,0.296631,0.52333,-1.087824,79,358.312579
3,-0.350166,0.606728,-0.330552,0.032815,-1.278952,-0.346276,0.406895,-1.837601,-0.355016,0.208202,...,-0.170288,0.669550,-1.330641,0.533242,1.639905,-0.131656,-1.44647,0.255208,418,383.646007

In [20]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_2 = create_model('svm')
tunedsvm_2 = tune_model(svm_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_2)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,2.420856,1.182074,0.267057,0.426400,-0.869316,-0.211308,0.101896,-0.298050,0.193514,-0.180101,...,0.485804,1.259889,-0.647838,0.997191,-0.278477,1.002466,0.603385,0.017877,141,381.246984
1,2.580812,0.593130,1.159135,-1.587217,1.006040,1.013607,-1.732929,0.273027,1.096079,-2.976841,...,0.934396,-1.412301,-1.370371,-0.996817,0.651881,2.361275,1.232279,2.489030,554,389.236820
2,0.449172,-0.210891,0.106563,-0.817962,-0.901220,-0.872152,0.254767,1.826441,-1.078239,0.623911,...,-0.703620,0.377648,-2.101426,-1.008100,-0.701441,-1.351018,0.177433,-0.485450,134,370.509530
3,0.128522,0.243228,0.013534,-0.029792,-1.562734,-0.309683,-0.950201,0.323510,-1.475961,0.386250,...,0.159437,-0.308207,-1.290370,-1.586326,-0.458822,-1.383143,-0.159533,-0.537089,376,383.114242

In [21]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_3 = create_model('svm')
tunedsvm_3 = tune_model(svm_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_3)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.395307,0.619889,0.071746,0.566842,-0.517090,0.113944,0.282293,-1.408456,-0.351931,0.000560,...,0.512478,0.595205,-1.269274,0.860710,1.421625,-0.469325,-1.643723,0.364800,418,382.818462
1,-1.462482,-0.174811,0.513542,1.337196,1.935820,1.728693,-0.976605,-0.653010,1.295371,-0.761638,...,-1.092902,-1.745183,-0.038575,1.442609,1.586229,0.724746,-1.946648,1.832314,432,385.489954
2,-1.064465,0.790157,-0.472985,0.452043,-0.165639,0.866880,-0.834462,-0.807031,-0.138445,-0.677055,...,-0.670123,-0.615552,0.320978,1.222200,1.081446,0.173034,-0.531504,0.758548,399,387.729393
3,-1.410343,-8.328424,-0.936425,1.088124,2.439010,0.375840,0.464912,-0.031413,-0.062366,1.658303,...,3.765368,2.428534,-0.248051,0.067593,-1.691606,-0.339908,-0.766532,-1.470142,83,372.122938

In [22]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_4 = create_model('svm')
tunedsvm_4 = tune_model(svm_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_4)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.090657,0.014636,0.059852,0.010339,-1.082354,-0.198483,-0.776011,0.563715,-1.385241,0.488439,...,-0.301188,-0.215051,-1.280196,-1.758355,-0.441627,-1.543460,-0.530179,-0.532714,376,359.857233
1,-1.217948,-0.161324,0.534046,1.904907,1.638765,1.567938,-0.795182,-0.589210,1.315309,-0.643857,...,-1.309439,-1.533861,0.250936,1.111599,1.587656,0.793819,-1.855776,1.730073,432,385.583926
2,-0.216933,0.329114,0.233873,0.140198,-1.208576,-0.176552,0.502418,-1.266555,-0.440928,0.014072,...,0.297573,0.495394,-1.213884,0.814444,1.924116,-0.355582,-1.474261,0.392789,418,383.108973
3,0.250243,0.126577,-0.297958,-2.455114,-0.948740,-1.099498,1.429080,1.510279,-0.874759,0.796176,...,-0.684602,0.832613,-1.715347,-0.365775,-1.450817,-1.099140,1.126482,-0.484428,79,348.944145

In [23]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_0 = create_model('xgboost')
tunedxgb_0 = tune_model(xgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_0)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.799883,0.379393,-0.514274,0.038683,-0.877614,0.524617,-0.373167,-0.640743,-0.231757,-0.538117,...,-0.864704,-0.456090,0.369863,1.157791,0.925370,0.032618,-0.105462,0.580070,399,414.221863
1,2.021333,1.092345,0.014535,1.365804,-0.868889,-0.153035,0.011675,-0.149138,0.246648,0.016540,...,-0.030839,1.492320,-0.414783,1.306884,-0.207983,0.779432,0.797223,-0.087268,141,133.074814
2,0.465956,0.172794,-0.699436,-0.136064,-1.948680,-1.274022,0.038192,0.891400,-0.195235,0.793735,...,-1.195436,1.543759,0.036266,-0.067163,-1.027167,-0.342288,1.790685,-1.019035,520,199.912918
3,0.379305,0.604974,-0.492959,-1.604652,-0.679653,-1.252762,1.326155,1.359975,-0.796088,0.810084,...,-0.941478,1.097654,-1.603834,0.114125,-1.486617,-0.742271,1.786375,-0.547044,79,115.635696

In [24]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_1 = create_model('xgboost')
tunedxgb_1 = tune_model(xgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_1)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,0.213486,-0.035066,-1.008608,0.282243,-1.860644,-1.392698,-0.442558,0.950403,-0.169831,0.928323,...,-1.058386,1.466749,0.313362,0.038622,-0.419085,-0.025020,1.61100,-1.094177,520,119.613419
1,-0.848545,0.534542,-0.574128,0.149728,-1.026655,-0.370685,-0.763576,-0.870667,-0.045043,-0.659422,...,-0.462818,-0.197254,-0.366839,0.675947,1.816011,0.123038,-1.32657,0.313091,429,415.371704
2,-1.821101,0.124689,-3.061093,0.345145,0.987932,-1.204176,1.978153,0.400011,-0.064627,1.895963,...,-0.872743,1.553277,0.292955,0.245061,-0.372964,0.296631,0.52333,-1.087824,79,123.482689
3,-0.350166,0.606728,-0.330552,0.032815,-1.278952,-0.346276,0.406895,-1.837601,-0.355016,0.208202,...,-0.170288,0.669550,-1.330641,0.533242,1.639905,-0.131656,-1.44647,0.255208,418,369.387115

In [25]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_2 = create_model('xgboost')
tunedxgb_2 = tune_model(xgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_2)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,2.420856,1.182074,0.267057,0.426400,-0.869316,-0.211308,0.101896,-0.298050,0.193514,-0.180101,...,0.485804,1.259889,-0.647838,0.997191,-0.278477,1.002466,0.603385,0.017877,141,234.647308
1,2.580812,0.593130,1.159135,-1.587217,1.006040,1.013607,-1.732929,0.273027,1.096079,-2.976841,...,0.934396,-1.412301,-1.370371,-0.996817,0.651881,2.361275,1.232279,2.489030,554,362.693420
2,0.449172,-0.210891,0.106563,-0.817962,-0.901220,-0.872152,0.254767,1.826441,-1.078239,0.623911,...,-0.703620,0.377648,-2.101426,-1.008100,-0.701441,-1.351018,0.177433,-0.485450,134,188.950653
3,0.128522,0.243228,0.013534,-0.029792,-1.562734,-0.309683,-0.950201,0.323510,-1.475961,0.386250,...,0.159437,-0.308207,-1.290370,-1.586326,-0.458822,-1.383143,-0.159533,-0.537089,376,320.285767

In [26]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_3 = create_model('xgboost')
tunedxgb_3 = tune_model(xgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_3)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.395307,0.619889,0.071746,0.566842,-0.517090,0.113944,0.282293,-1.408456,-0.351931,0.000560,...,0.512478,0.595205,-1.269274,0.860710,1.421625,-0.469325,-1.643723,0.364800,418,427.014435
1,-1.462482,-0.174811,0.513542,1.337196,1.935820,1.728693,-0.976605,-0.653010,1.295371,-0.761638,...,-1.092902,-1.745183,-0.038575,1.442609,1.586229,0.724746,-1.946648,1.832314,432,462.590576
2,-1.064465,0.790157,-0.472985,0.452043,-0.165639,0.866880,-0.834462,-0.807031,-0.138445,-0.677055,...,-0.670123,-0.615552,0.320978,1.222200,1.081446,0.173034,-0.531504,0.758548,399,502.904724
3,-1.410343,-8.328424,-0.936425,1.088124,2.439010,0.375840,0.464912,-0.031413,-0.062366,1.658303,...,3.765368,2.428534,-0.248051,0.067593,-1.691606,-0.339908,-0.766532,-1.470142,83,467.494049

In [27]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_4 = create_model('xgboost')
tunedxgb_4 = tune_model(xgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_4)

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,label,Label
0,-0.090657,0.014636,0.059852,0.010339,-1.082354,-0.198483,-0.776011,0.563715,-1.385241,0.488439,...,-0.301188,-0.215051,-1.280196,-1.758355,-0.441627,-1.543460,-0.530179,-0.532714,376,165.612625
1,-1.217948,-0.161324,0.534046,1.904907,1.638765,1.567938,-0.795182,-0.589210,1.315309,-0.643857,...,-1.309439,-1.533861,0.250936,1.111599,1.587656,0.793819,-1.855776,1.730073,432,397.806305
2,-0.216933,0.329114,0.233873,0.140198,-1.208576,-0.176552,0.502418,-1.266555,-0.440928,0.014072,...,0.297573,0.495394,-1.213884,0.814444,1.924116,-0.355582,-1.474261,0.392789,418,317.003906
3,0.250243,0.126577,-0.297958,-2.455114,-0.948740,-1.099498,1.429080,1.510279,-0.874759,0.796176,...,-0.684602,0.832613,-1.715347,-0.365775,-1.450817,-1.099140,1.126482,-0.484428,79,159.894531

/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)