In [1]:
import numpy as np
import pandas as pd
from pycaret.regression import *

In [2]:
# 读取数据
df = pd.read_csv('description/imagemol_finturn_Features/SMILES-SEED0-reg.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train = df.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test = df.loc['test'].reset_index(drop=True)
train = train.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test = test.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列

In [3]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf = create_model('rf')
tunedrf = tune_model(rf, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.400183,1.090909,0.851346,-0.105477,1.714171,-0.720414,1.039123,0.763497,-0.007548,1.972557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,526.500000
1,-0.964762,-0.719353,-0.545107,-1.038742,-1.524747,1.039971,-0.776540,0.275570,-0.426033,-0.817544,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,112.133333
2,0.551216,-0.719353,-0.617210,0.062021,2.834256,-0.795656,-0.776540,-0.744868,2.155991,-1.144240,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,421.033333
3,-0.672322,-0.719353,-0.445625,0.722856,-1.324604,-0.711480,-0.591687,-0.734021,-0.662467,-1.141675,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,112.133333

In [4]:
df_1 = pd.read_csv('description/imagemol_finturn_Features/SMILES-SEED1-reg.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_1.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_1 = df_1.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_1 = df_1.loc['test'].reset_index(drop=True)
train_1 = train_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_1 = test_1.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_1 = create_model('rf')
tunedrf_1 = tune_model(rf_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_1)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.322597,-0.191084,-0.373443,-0.656342,4.239685,-0.630669,1.427322,0.149293,1.662353,-0.641051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,395.097436
1,2.127428,1.845909,1.151469,1.565951,1.784693,-0.374896,0.866679,0.086186,-0.409595,-0.732593,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,429,419.430769
2,-0.883055,-0.836127,-0.830284,-1.146788,-1.024996,-0.713813,-0.831304,0.631821,0.189256,-0.761370,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,84.746154
3,0.138538,0.004358,0.590889,0.716630,1.017628,0.647610,0.230819,0.864350,1.746900,1.490163,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,383.230769

In [5]:
df_2 = pd.read_csv('description/imagemol_finturn_Features/SMILES-SEED2-reg.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_2.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_2 = df_2.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_2 = df_2.loc['test'].reset_index(drop=True)
train_2 = train_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_2 = test_2.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_2 = create_model('rf')
tunedrf_2 = tune_model(rf_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_2)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,-1.081908,-0.994293,-1.268500,-0.986408,-0.911431,0.369372,-1.054219,0.701475,-0.489091,-0.901714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,167.132353
1,-0.154003,0.672629,-1.053594,0.314210,-0.480517,-1.189977,1.156697,2.159793,0.717867,0.565097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,389.926471
2,-0.753394,-0.994293,-1.268500,0.841537,-1.320780,-0.573215,-1.054219,-1.092156,-0.702293,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,111.948529
3,-0.435737,-0.994293,-1.268500,1.868651,-1.148482,1.353313,-1.054219,-1.092156,-0.015618,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,190.191176

In [6]:
df_3 = pd.read_csv('description/imagemol_finturn_Features/SMILES-SEED3-reg.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_3.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_3 = df_3.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_3 = df_3.loc['test'].reset_index(drop=True)
train_3 = train_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_3 = test_3.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_3 = create_model('rf')
tunedrf_3 = tune_model(rf_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_3)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.305417,-0.769991,-0.737305,0.799648,0.650762,0.770215,0.125402,-0.348938,-0.671757,-0.390122,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,393.716825
1,1.453640,-0.342896,0.244146,0.834044,1.415180,1.911357,1.015552,-0.773932,-0.575402,1.741845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,471.467619
2,1.437624,0.376773,1.658244,0.900079,0.259444,-0.675738,0.789412,0.243899,0.368593,1.187404,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,497.717143
3,-1.027100,-0.817845,-1.287124,-0.398347,-0.263811,-0.647160,-0.880654,-1.208573,-0.742101,-1.017830,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83,210.082857

In [7]:
df_4 = pd.read_csv('description/imagemol_finturn_Features/SMILES-SEED4-reg.csv')

# 假设'group'列的值是'train'或'test'，用来区分训练和测试数据
# 将'group'列设置为索引（如果它不是的话），这样我们可以基于它进行过滤
df_4.set_index('group', inplace=True)

# 根据'group'索引来选择训练数据（group为'train'的行）
train_4 = df_4.loc['train'].reset_index(drop=True)
# 选择测试数据（group为'test'的行）
# 注意：如果'test'组不存在，这将会抛出一个错误
test_4 = df_4.loc['test'].reset_index(drop=True)
train_4 = train_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列
test_4 = test_4.loc[:, 'smiles':].iloc[:, 1:]  # 排除 'label' 列


cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

rf_4 = create_model('rf')
tunedrf_4 = tune_model(rf_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedrf_4)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.436380,-0.620673,-0.703829,2.602383,-1.005319,1.015994,-0.542049,-0.810103,-0.773434,-0.483561,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,263.685185
1,0.876015,1.636649,6.541296,-0.096924,1.637362,3.343001,0.562942,1.414230,0.052651,1.967966,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,461.283951
2,0.062635,0.024288,-0.679929,-0.437666,0.340166,0.939914,-0.530666,-0.795182,-0.773434,0.201862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,382.259259
3,-0.863385,-0.620673,-0.703829,0.498774,-1.005319,-0.544658,-0.544842,-0.804505,-0.773434,-0.569080,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,126.851852

In [8]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_0 = create_model('lightgbm')
tunedlgb_0 = tune_model(lgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.400183,1.090909,0.851346,-0.105477,1.714171,-0.720414,1.039123,0.763497,-0.007548,1.972557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,492.573417
1,-0.964762,-0.719353,-0.545107,-1.038742,-1.524747,1.039971,-0.776540,0.275570,-0.426033,-0.817544,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,93.630238
2,0.551216,-0.719353,-0.617210,0.062021,2.834256,-0.795656,-0.776540,-0.744868,2.155991,-1.144240,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,355.204368
3,-0.672322,-0.719353,-0.445625,0.722856,-1.324604,-0.711480,-0.591687,-0.734021,-0.662467,-1.141675,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,192.332240

In [9]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_1 = create_model('lightgbm')
tunedlgb_1 = tune_model(lgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.322597,-0.191084,-0.373443,-0.656342,4.239685,-0.630669,1.427322,0.149293,1.662353,-0.641051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,395.598739
1,2.127428,1.845909,1.151469,1.565951,1.784693,-0.374896,0.866679,0.086186,-0.409595,-0.732593,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,429,412.103723
2,-0.883055,-0.836127,-0.830284,-1.146788,-1.024996,-0.713813,-0.831304,0.631821,0.189256,-0.761370,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,135.581577
3,0.138538,0.004358,0.590889,0.716630,1.017628,0.647610,0.230819,0.864350,1.746900,1.490163,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,405.717529

In [10]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_2 = create_model('lightgbm')
tunedlgb_2 = tune_model(lgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_2)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,-1.081908,-0.994293,-1.268500,-0.986408,-0.911431,0.369372,-1.054219,0.701475,-0.489091,-0.901714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,301.523234
1,-0.154003,0.672629,-1.053594,0.314210,-0.480517,-1.189977,1.156697,2.159793,0.717867,0.565097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,323.267514
2,-0.753394,-0.994293,-1.268500,0.841537,-1.320780,-0.573215,-1.054219,-1.092156,-0.702293,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,313.041772
3,-0.435737,-0.994293,-1.268500,1.868651,-1.148482,1.353313,-1.054219,-1.092156,-0.015618,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,314.567254

In [11]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_3 = create_model('lightgbm')
tunedlgb_3 = tune_model(lgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_3)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.305417,-0.769991,-0.737305,0.799648,0.650762,0.770215,0.125402,-0.348938,-0.671757,-0.390122,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,351.069650
1,1.453640,-0.342896,0.244146,0.834044,1.415180,1.911357,1.015552,-0.773932,-0.575402,1.741845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,368.812382
2,1.437624,0.376773,1.658244,0.900079,0.259444,-0.675738,0.789412,0.243899,0.368593,1.187404,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,396.302585
3,-1.027100,-0.817845,-1.287124,-0.398347,-0.263811,-0.647160,-0.880654,-1.208573,-0.742101,-1.017830,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83,246.445383

In [12]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

lgb_4 = create_model('lightgbm')
tunedlgb_4 = tune_model(lgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_4)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.436380,-0.620673,-0.703829,2.602383,-1.005319,1.015994,-0.542049,-0.810103,-0.773434,-0.483561,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,278.269739
1,0.876015,1.636649,6.541296,-0.096924,1.637362,3.343001,0.562942,1.414230,0.052651,1.967966,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,456.112243
2,0.062635,0.024288,-0.679929,-0.437666,0.340166,0.939914,-0.530666,-0.795182,-0.773434,0.201862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,410.149478
3,-0.863385,-0.620673,-0.703829,0.498774,-1.005319,-0.544658,-0.544842,-0.804505,-0.773434,-0.569080,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,167.718327

In [28]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_0 = create_model('mlp')
tunedlgb_0 = tune_model(mlp_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_0)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.400183,1.090909,0.851346,-0.105477,1.714171,-0.720414,1.039123,0.763497,-0.007548,1.972557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,463.239787
1,-0.964762,-0.719353,-0.545107,-1.038742,-1.524747,1.039971,-0.776540,0.275570,-0.426033,-0.817544,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,105.329095
2,0.551216,-0.719353,-0.617210,0.062021,2.834256,-0.795656,-0.776540,-0.744868,2.155991,-1.144240,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,559.565266
3,-0.672322,-0.719353,-0.445625,0.722856,-1.324604,-0.711480,-0.591687,-0.734021,-0.662467,-1.141675,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,114.139462

In [29]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_1 = create_model('mlp')
tunedlgb_1 = tune_model(mlp_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedlgb_1)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.322597,-0.191084,-0.373443,-0.656342,4.239685,-0.630669,1.427322,0.149293,1.662353,-0.641051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,616.795233
1,2.127428,1.845909,1.151469,1.565951,1.784693,-0.374896,0.866679,0.086186,-0.409595,-0.732593,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,429,494.811701
2,-0.883055,-0.836127,-0.830284,-1.146788,-1.024996,-0.713813,-0.831304,0.631821,0.189256,-0.761370,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,135.966586
3,0.138538,0.004358,0.590889,0.716630,1.017628,0.647610,0.230819,0.864350,1.746900,1.490163,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,327.043084

/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/neural_network/_multilayer_perceptron.py:582: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

In [15]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_2 = create_model('mlp')
tunedmlp_2 = tune_model(mlp_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_2)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,-1.081908,-0.994293,-1.268500,-0.986408,-0.911431,0.369372,-1.054219,0.701475,-0.489091,-0.901714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,151.294655
1,-0.154003,0.672629,-1.053594,0.314210,-0.480517,-1.189977,1.156697,2.159793,0.717867,0.565097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,353.881706
2,-0.753394,-0.994293,-1.268500,0.841537,-1.320780,-0.573215,-1.054219,-1.092156,-0.702293,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,132.708440
3,-0.435737,-0.994293,-1.268500,1.868651,-1.148482,1.353313,-1.054219,-1.092156,-0.015618,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,318.293181

In [16]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_3 = create_model('mlp')
tunedmlp_3 = tune_model(mlp_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_3)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.305417,-0.769991,-0.737305,0.799648,0.650762,0.770215,0.125402,-0.348938,-0.671757,-0.390122,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,378.916278
1,1.453640,-0.342896,0.244146,0.834044,1.415180,1.911357,1.015552,-0.773932,-0.575402,1.741845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,519.603213
2,1.437624,0.376773,1.658244,0.900079,0.259444,-0.675738,0.789412,0.243899,0.368593,1.187404,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,543.310888
3,-1.027100,-0.817845,-1.287124,-0.398347,-0.263811,-0.647160,-0.880654,-1.208573,-0.742101,-1.017830,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83,132.034453

In [17]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

mlp_4 = create_model('mlp')
tunedmlp_4 = tune_model(mlp_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedmlp_4)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.436380,-0.620673,-0.703829,2.602383,-1.005319,1.015994,-0.542049,-0.810103,-0.773434,-0.483561,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,236.351360
1,0.876015,1.636649,6.541296,-0.096924,1.637362,3.343001,0.562942,1.414230,0.052651,1.967966,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,388.821533
2,0.062635,0.024288,-0.679929,-0.437666,0.340166,0.939914,-0.530666,-0.795182,-0.773434,0.201862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,311.165816
3,-0.863385,-0.620673,-0.703829,0.498774,-1.005319,-0.544658,-0.544842,-0.804505,-0.773434,-0.569080,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,119.301243

In [18]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_0 = create_model('svm')
tunedsvm_0 = tune_model(svm_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_0)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.400183,1.090909,0.851346,-0.105477,1.714171,-0.720414,1.039123,0.763497,-0.007548,1.972557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,418.781673
1,-0.964762,-0.719353,-0.545107,-1.038742,-1.524747,1.039971,-0.776540,0.275570,-0.426033,-0.817544,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,377.348603
2,0.551216,-0.719353,-0.617210,0.062021,2.834256,-0.795656,-0.776540,-0.744868,2.155991,-1.144240,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,398.338495
3,-0.672322,-0.719353,-0.445625,0.722856,-1.324604,-0.711480,-0.591687,-0.734021,-0.662467,-1.141675,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,368.838479

In [19]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_1 = create_model('svm')
tunedsvm_1 = tune_model(svm_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_1)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.322597,-0.191084,-0.373443,-0.656342,4.239685,-0.630669,1.427322,0.149293,1.662353,-0.641051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,361.674725
1,2.127428,1.845909,1.151469,1.565951,1.784693,-0.374896,0.866679,0.086186,-0.409595,-0.732593,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,429,374.146431
2,-0.883055,-0.836127,-0.830284,-1.146788,-1.024996,-0.713813,-0.831304,0.631821,0.189256,-0.761370,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,327.914252
3,0.138538,0.004358,0.590889,0.716630,1.017628,0.647610,0.230819,0.864350,1.746900,1.490163,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,364.950829

In [20]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_2 = create_model('svm')
tunedsvm_2 = tune_model(svm_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_2)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,-1.081908,-0.994293,-1.268500,-0.986408,-0.911431,0.369372,-1.054219,0.701475,-0.489091,-0.901714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,365.665739
1,-0.154003,0.672629,-1.053594,0.314210,-0.480517,-1.189977,1.156697,2.159793,0.717867,0.565097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,399.240985
2,-0.753394,-0.994293,-1.268500,0.841537,-1.320780,-0.573215,-1.054219,-1.092156,-0.702293,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,358.687950
3,-0.435737,-0.994293,-1.268500,1.868651,-1.148482,1.353313,-1.054219,-1.092156,-0.015618,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,377.090666

In [21]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_3 = create_model('svm')
tunedsvm_3 = tune_model(svm_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_3)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.305417,-0.769991,-0.737305,0.799648,0.650762,0.770215,0.125402,-0.348938,-0.671757,-0.390122,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,372.167721
1,1.453640,-0.342896,0.244146,0.834044,1.415180,1.911357,1.015552,-0.773932,-0.575402,1.741845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,377.379207
2,1.437624,0.376773,1.658244,0.900079,0.259444,-0.675738,0.789412,0.243899,0.368593,1.187404,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,385.077229
3,-1.027100,-0.817845,-1.287124,-0.398347,-0.263811,-0.647160,-0.880654,-1.208573,-0.742101,-1.017830,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83,329.936696

In [22]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

svm_4 = create_model('svm')
tunedsvm_4 = tune_model(svm_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedsvm_4)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.436380,-0.620673,-0.703829,2.602383,-1.005319,1.015994,-0.542049,-0.810103,-0.773434,-0.483561,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,365.412613
1,0.876015,1.636649,6.541296,-0.096924,1.637362,3.343001,0.562942,1.414230,0.052651,1.967966,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,383.461087
2,0.062635,0.024288,-0.679929,-0.437666,0.340166,0.939914,-0.530666,-0.795182,-0.773434,0.201862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,370.141738
3,-0.863385,-0.620673,-0.703829,0.498774,-1.005319,-0.544658,-0.544842,-0.804505,-0.773434,-0.569080,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,333.297899

In [23]:
cm = setup(data = train, target = 'label', train_size = 0.8, test_data = test, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_0 = create_model('xgboost')
tunedxgb_0 = tune_model(xgb_0, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_0)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.400183,1.090909,0.851346,-0.105477,1.714171,-0.720414,1.039123,0.763497,-0.007548,1.972557,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,496.377106
1,-0.964762,-0.719353,-0.545107,-1.038742,-1.524747,1.039971,-0.776540,0.275570,-0.426033,-0.817544,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,115.200272
2,0.551216,-0.719353,-0.617210,0.062021,2.834256,-0.795656,-0.776540,-0.744868,2.155991,-1.144240,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,392.516510
3,-0.672322,-0.719353,-0.445625,0.722856,-1.324604,-0.711480,-0.591687,-0.734021,-0.662467,-1.141675,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,166.316040

In [24]:
cm = setup(data = train_1, target = 'label', train_size = 0.8, test_data = test_1, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_1 = create_model('xgboost')
tunedxgb_1 = tune_model(xgb_1, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_1)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,2.322597,-0.191084,-0.373443,-0.656342,4.239685,-0.630669,1.427322,0.149293,1.662353,-0.641051,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,520,353.153290
1,2.127428,1.845909,1.151469,1.565951,1.784693,-0.374896,0.866679,0.086186,-0.409595,-0.732593,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,429,439.497864
2,-0.883055,-0.836127,-0.830284,-1.146788,-1.024996,-0.713813,-0.831304,0.631821,0.189256,-0.761370,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,115.139229
3,0.138538,0.004358,0.590889,0.716630,1.017628,0.647610,0.230819,0.864350,1.746900,1.490163,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,425.615753

In [25]:
cm = setup(data = train_2, target = 'label', train_size = 0.8, test_data = test_2, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_2 = create_model('xgboost')
tunedxgb_2 = tune_model(xgb_2, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_2)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,-1.081908,-0.994293,-1.268500,-0.986408,-0.911431,0.369372,-1.054219,0.701475,-0.489091,-0.901714,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,141,299.974274
1,-0.154003,0.672629,-1.053594,0.314210,-0.480517,-1.189977,1.156697,2.159793,0.717867,0.565097,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,554,356.602234
2,-0.753394,-0.994293,-1.268500,0.841537,-1.320780,-0.573215,-1.054219,-1.092156,-0.702293,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,134,149.689224
3,-0.435737,-0.994293,-1.268500,1.868651,-1.148482,1.353313,-1.054219,-1.092156,-0.015618,-0.971652,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,287.893738

In [26]:
cm = setup(data = train_3, target = 'label', train_size = 0.8, test_data = test_3, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_3 = create_model('xgboost')
tunedxgb_3 = tune_model(xgb_3, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_3)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.305417,-0.769991,-0.737305,0.799648,0.650762,0.770215,0.125402,-0.348938,-0.671757,-0.390122,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,463.829773
1,1.453640,-0.342896,0.244146,0.834044,1.415180,1.911357,1.015552,-0.773932,-0.575402,1.741845,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,510.742401
2,1.437624,0.376773,1.658244,0.900079,0.259444,-0.675738,0.789412,0.243899,0.368593,1.187404,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,399,535.419006
3,-1.027100,-0.817845,-1.287124,-0.398347,-0.263811,-0.647160,-0.880654,-1.208573,-0.742101,-1.017830,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,83,270.619934

In [27]:
cm = setup(data = train_4, target = 'label', train_size = 0.8, test_data = test_4, silent=True,  
             session_id=2019, fold_strategy = 'kfold', fold = 5, fold_shuffle = True, normalize = True)

xgb_4 = create_model('xgboost')
tunedxgb_4 = tune_model(xgb_4, n_iter = 100, search_library = 'optuna', optimize = 'RMSE')
predict_model(tunedxgb_4)

,0,1,2,3,4,5,6,7,8,9,...,filename_2.png,filename_3.png,filename_4.png,filename_5.png,filename_6.png,filename_7.png,filename_8.png,filename_9.png,label,Label
0,0.436380,-0.620673,-0.703829,2.602383,-1.005319,1.015994,-0.542049,-0.810103,-0.773434,-0.483561,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,376,348.578217
1,0.876015,1.636649,6.541296,-0.096924,1.637362,3.343001,0.562942,1.414230,0.052651,1.967966,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,432,525.584595
2,0.062635,0.024288,-0.679929,-0.437666,0.340166,0.939914,-0.530666,-0.795182,-0.773434,0.201862,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,418,350.504883
3,-0.863385,-0.620673,-0.703829,0.498774,-1.005319,-0.544658,-0.544842,-0.804505,-0.773434,-0.569080,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,124.992592

/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)

/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probA_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)
/home/admin/anaconda3/envs/adl-pycaret/lib/python3.8/site-packages/sklearn/utils/deprecation.py:101: FutureWarning: The probB_ attribute is deprecated in version 0.23 and will be removed in version 0.25.
  warnings.warn(msg, category=FutureWarning)